Repository processity/docgen: changes, and which Codecov flags are due for each by the changed paths.
All: nodejs, salesforce

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false

flags:
  nodejs:
    paths:
      - src/
    carryforward: true
  salesforce:
    paths:
      - force-app/
    carryforward: true

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "test/"
  - "**/*.test.ts"
  - "**/*Test.cls"

feat: UI improvements
  force-app/main/default/classes/CompositeDocumentController.cls
  force-app/main/default/classes/CompositeDocumentControllerTest.cls
  force-app/main/default/classes/DocgenAsyncController.cls
  force-app/main/default/classes/DocgenAsyncControllerTest.cls
  force-app/main/default/lwc/compositeDocgenButton/__tests__/compositeDocgenButton.test.js
  force-app/main/default/lwc/compositeDocgenButton/compositeDocgenButton.css
  force-app/main/default/lwc/compositeDocgenButton/compositeDocgenButton.html
  force-app/main/default/lwc/compositeDocgenButton/compositeDocgenButton.js
  force-app/main/default/lwc/compositeDocgenButton/compositeDocgenButton.js-meta.xml
  sfdx-project.json
Due: salesforce

feat: composite document bug fix
  force-app/main/default/classes/CompositeDocumentController.cls
  force-app/main/default/classes/CompositeDocumentControllerTest.cls
  sfdx-project.json
  src/templates/concatenate.ts
  test/templates/concatenate.test.ts
Due: nodejs, salesforce

feat: fix docgen issues
  docs/admin-guide.md
  docs/lwc-composite-button-guide.md
  force-app/main/default/classes/DocgenAsyncController.cls
  force-app/main/default/classes/DocgenAsyncControllerTest.cls
  force-app/main/default/classes/DocgenController.cls
  force-app/main/default/classes/DocgenControllerTest.cls
  force-app/main/default/classes/DocgenEnvelopeService.cls
  force-app/main/default/classes/DocgenEnvelopeServiceTest.cls
  force-app/main/default/lwc/compositeDocgenButton/__tests__/compositeDocgenButton.test.js
  force-app/main/default/lwc/compositeDocgenButton/compositeDocgenButton.css
  force-app/main/default/lwc/compositeDocgenButton/compositeDocgenButton.html
  force-app/main/default/lwc/compositeDocgenButton/compositeDocgenButton.js
  force-app/main/default/lwc/compositeDocgenButton/compositeDocgenButton.js-meta.xml
  force-app/main/default/lwc/docgenButton/__tests__/docgenButton.test.js
  force-app/main/default/lwc/docgenButton/docgenButton.js
  force-app/main/default/lwc/docgenButton/docgenButton.js-meta.xml
  force-app/main/default/lwc/docgenProgressButton/__tests__/docgenProgressButton.test.js
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.css
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.js
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.js-meta.xml
  force-app/main/default/lwc/docgenTestPage/__tests__/docgenTestPage.test.js
  force-app/main/default/lwc/docgenTestPage/docgenTestPage.html
  force-app/main/default/lwc/docgenTestPage/docgenTestPage.js
  sfdx-project.json
Due: salesforce

feat: composite document conditional templates
  docs/composite-document-template-management.md
  force-app/main/default/classes/BatchDocgenEnqueueTest.cls
  force-app/main/default/classes/CompositeDocgenDataProvider.cls
  force-app/main/default/classes/CompositeDocgenDataProvider.cls-meta.xml
  force-app/main/default/classes/CompositeDocgenDataProviderTest.cls
  force-app/main/default/classes/CompositeDocumentController.cls
  force-app/main/default/classes/CompositeDocumentControllerTest.cls
  force-app/main/default/classes/DocgenEnvelopeService.cls
  force-app/main/default/layouts/Composite_Document_Template__c-Composite Document Template Layout.layout-meta.xml
  force-app/main/default/layouts/Composite_Document__c-Composite Document Layout.layout-meta.xml
  force-app/main/default/lwc/addTemplateToComposite/__tests__/addTemplateToComposite.test.js
  force-app/main/default/lwc/addTemplateToComposite/addTemplateToComposite.html
  force-app/main/default/lwc/addTemplateToComposite/addTemplateToComposite.js
  force-app/main/default/objects/Composite_Document_Template__c/fields/Inclusion_Formula__c.field-meta.xml
  force-app/main/default/objects/Composite_Document_Template__c/validationRules/Inclusion_Formula_Requires_Concatenate.validationRule-meta.xml
  force-app/main/default/permissionsets/Docgen_User.permissionset-meta.xml
  force-app/main/default/quickActions/Composite_Document__c.Add_Template.quickAction-meta.xml
  sfdx-project.json
Due: salesforce

feat: attach additional PDF files
  force-app/main/default/classes/BatchDocgenEnqueue.cls
  force-app/main/default/classes/BatchDocgenEnqueueTest.cls
  force-app/main/default/classes/DocgenAdditionalPdfEnvelopeTest.cls
  force-app/main/default/classes/DocgenAdditionalPdfEnvelopeTest.cls-meta.xml
  force-app/main/default/classes/DocgenAsyncController.cls
  force-app/main/default/classes/DocgenAttachmentService.cls
  force-app/main/default/classes/DocgenAttachmentService.cls-meta.xml
  force-app/main/default/classes/DocgenAttachmentServiceTest.cls
  force-app/main/default/classes/DocgenAttachmentServiceTest.cls-meta.xml
  force-app/main/default/classes/DocgenController.cls
  force-app/main/default/classes/DocgenEnvelopeService.cls
  force-app/main/default/layouts/Generated_Document__c-Generated Document Layout.layout-meta.xml
  force-app/main/default/lwc/compositeDocgenButton/__tests__/compositeDocgenButton.test.js
  force-app/main/default/lwc/compositeDocgenButton/compositeDocgenButton.html
  force-app/main/default/lwc/compositeDocgenButton/compositeDocgenButton.js
  force-app/main/default/lwc/docgenAdditionalPdfSelector/__tests__/docgenAdditionalPdfSelector.test.js
  force-app/main/default/lwc/docgenAdditionalPdfSelector/docgenAdditionalPdfSelector.css
  force-app/main/default/lwc/docgenAdditionalPdfSelector/docgenAdditionalPdfSelector.html
  force-app/main/default/lwc/docgenAdditionalPdfSelector/docgenAdditionalPdfSelector.js
  force-app/main/default/lwc/docgenAdditionalPdfSelector/docgenAdditionalPdfSelector.js-meta.xml
  force-app/main/default/lwc/docgenButton/__tests__/docgenButton.test.js
  force-app/main/default/lwc/docgenButton/docgenButton.html
  force-app/main/default/lwc/docgenButton/docgenButton.js
  force-app/main/default/lwc/docgenProgressButton/__tests__/docgenProgressButton.test.js
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.html
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.js
  force-app/main/default/objects/Generated_Document__c/fields/Attachment_Warnings__c.field-meta.xml
  force-app/main/default/permissionsets/Docgen_User.permissionset-meta.xml
  openapi.yaml
  package-lock.json
  package.json
  sfdx-project.json
  src/pdf/attachments.ts
  src/routes/generate.ts
  src/types.ts
  src/worker/poller.ts
  test/generate.unit.test.ts
  test/pdf.attachments.test.ts
  test/worker/poller.test.ts
Due: nodejs, salesforce

fix: additional file selection UI
  force-app/main/default/classes/DocgenAttachmentService.cls
  force-app/main/default/lwc/docgenAdditionalPdfSelector/__tests__/docgenAdditionalPdfSelector.test.js
  force-app/main/default/lwc/docgenAdditionalPdfSelector/docgenAdditionalPdfSelector.js
  sfdx-project.json
Due: salesforce

feat: Docgen Button UI Packaged
  README.md
  docs/admin-guide.md
  docs/lwc-composite-button-guide.md
  docs/lwc-document-selector-guide.md
  force-app/main/default/classes/CompositeDocumentController.cls
  force-app/main/default/classes/CompositeDocumentControllerTest.cls
  force-app/main/default/lwc/compositeDocgenButton/__tests__/compositeDocgenButton.test.js
  force-app/main/default/lwc/compositeDocgenButton/compositeDocgenButton.js
  force-app/main/default/lwc/compositeDocgenButton/compositeDocgenButton.js-meta.xml
  force-app/main/default/lwc/docgenDocumentSelector/__tests__/docgenDocumentSelector.test.js
  force-app/main/default/lwc/docgenDocumentSelector/docgenDocumentSelector.css
  force-app/main/default/lwc/docgenDocumentSelector/docgenDocumentSelector.html
  force-app/main/default/lwc/docgenDocumentSelector/docgenDocumentSelector.js
  force-app/main/default/lwc/docgenDocumentSelector/docgenDocumentSelector.js-meta.xml
  force-app/main/default/lwc/docgenProgressButton/__tests__/docgenProgressButton.test.js
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.js
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.js-meta.xml
  sfdx-project.json
Due: salesforce

Watermark Update
  src/templates/docx-postprocess.ts
Due: nodejs

feat: Docgen Invocable Flow Action
  .gitignore
  README.md
  docs/admin-guide.md
  docs/flow-invocable-guide.md
  docs/quick-start.md
  force-app/main/default/classes/DocgenInvocable.cls
  force-app/main/default/classes/DocgenInvocable.cls-meta.xml
  force-app/main/default/classes/DocgenInvocableTest.cls
  force-app/main/default/classes/DocgenInvocableTest.cls-meta.xml
  force-app/main/default/permissionsets/Docgen_User.permissionset-meta.xml
  sfdx-project.json
Due: salesforce

feat: PDF preview as image
  docs/secure-pdf-preview-uat.md
  e2e/helpers/secure-pdf-preview.ts
  e2e/tests/secure-pdf-preview.spec.ts
  force-app/main/default/classes/DocgenAsyncController.cls
  force-app/main/default/classes/DocgenAsyncControllerTest.cls
  force-app/main/default/lwc/compositeDocgenButton/__tests__/compositeDocgenButton.test.js
  force-app/main/default/lwc/compositeDocgenButton/compositeDocgenButton.css
  force-app/main/default/lwc/compositeDocgenButton/compositeDocgenButton.html
  force-app/main/default/lwc/compositeDocgenButton/compositeDocgenButton.js
  force-app/main/default/lwc/docgenDocumentSelector/__tests__/docgenDocumentSelector.test.js
  force-app/main/default/lwc/docgenDocumentSelector/docgenDocumentSelector.html
  force-app/main/default/lwc/docgenDocumentSelector/docgenDocumentSelector.js
  force-app/main/default/lwc/docgenPdfImagePreview/__tests__/docgenPdfImagePreview.test.js
  force-app/main/default/lwc/docgenPdfImagePreview/docgenPdfImagePreview.css
  force-app/main/default/lwc/docgenPdfImagePreview/docgenPdfImagePreview.html
  force-app/main/default/lwc/docgenPdfImagePreview/docgenPdfImagePreview.js
  force-app/main/default/lwc/docgenPdfImagePreview/docgenPdfImagePreview.js-meta.xml
  force-app/main/default/lwc/docgenProgressButton/__tests__/docgenProgressButton.test.js
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.css
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.html
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.js
  force-app/main/default/lwc/jsconfig.json
  force-app/test/default/lwc/jsconfig.json
  openapi.yaml
  sfdx-project.json
  src/preview/errors.ts
  src/preview/index.ts
  src/preview/pdf-page-renderer.ts
  src/preview/service.ts
  src/preview/types.ts
  src/routes/preview.ts
  src/server.ts
  test/fixtures/pdf-preview.ts
  test/preview/pdf-page-renderer.test.ts
  test/preview/service.test.ts
  test/routes/preview.test.ts
Due: nodejs, salesforce

feat: JP font Meiryo UI
  .gitignore
  Dockerfile
  docker/fontconfig/60-docgen-japanese-fonts.conf
  docker/fonts/.keep
  docker/fonts/README.md
  src/templates/rich-text.ts
  test/templates/docx-postprocess.test.ts
Due: nodejs

feat: Preview image quality improvements
  docs/secure-pdf-preview-uat.md
  force-app/main/default/lwc/compositeDocgenButton/__tests__/compositeDocgenButton.test.js
  force-app/main/default/lwc/compositeDocgenButton/compositeDocgenButton.css
  force-app/main/default/lwc/compositeDocgenButton/compositeDocgenButton.html
  force-app/main/default/lwc/compositeDocgenButton/compositeDocgenButton.js
  force-app/main/default/lwc/docgenPdfImagePreview/__tests__/docgenPdfImagePreview.test.js
  force-app/main/default/lwc/docgenPdfImagePreview/docgenPdfImagePreview.css
  force-app/main/default/lwc/docgenPdfImagePreview/docgenPdfImagePreview.js
  force-app/main/default/lwc/docgenProgressButton/__tests__/docgenProgressButton.test.js
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.css
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.html
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.js
  sfdx-project.json
  src/preview/pdf-page-renderer.ts
  test/preview/pdf-page-renderer.test.ts
Due: nodejs, salesforce

feat: jp font and formatting fix
  .gitignore
  docker/fonts/meiryo.ttc
  docker/fonts/meiryob.ttc
  src/templates/docx-postprocess.ts
  src/templates/merge.ts
  src/templates/rich-text.ts
  test/templates/docx-postprocess.test.ts
Due: nodejs

feat: update PDF generation labels and improve document selector functionality
  README.md
  docs/lwc-document-selector-guide.md
  docs/secure-pdf-preview-uat.md
  e2e/helpers/secure-pdf-preview.ts
  force-app/main/default/lwc/docgenDocumentSelector/__tests__/docgenDocumentSelector.test.js
  force-app/main/default/lwc/docgenDocumentSelector/docgenDocumentSelector.html
  force-app/main/default/lwc/docgenDocumentSelector/docgenDocumentSelector.js
  force-app/main/default/lwc/docgenPdfImagePreview/__tests__/docgenPdfImagePreview.test.js
  force-app/main/default/lwc/docgenPdfImagePreview/docgenPdfImagePreview.css
  force-app/main/default/lwc/docgenPdfImagePreview/docgenPdfImagePreview.html
  sfdx-project.json
  test/generate.unit.test.ts
Due: salesforce

update kv param
  infra/parameters/production.bicepparam
Due: none

feat: enhance deployment workflow with current revision tracking and environment variable adjustments
  .github/workflows/deploy-production.yml
Due: none

feat: update key vault verification process and remove secret population steps
  .github/workflows/deploy-production.yml
Due: none

feat: refactor document generation logic and add composite configuration reader
  force-app/main/default/classes/CompositeDocgenDataProvider.cls
  force-app/main/default/classes/CompositeDocumentController.cls
  force-app/main/default/classes/CompositeDocumentControllerTest.cls
  force-app/main/default/classes/DocgenAsyncController.cls
  force-app/main/default/classes/DocgenAttachmentService.cls
  force-app/main/default/classes/DocgenCompositeConfigReader.cls
  force-app/main/default/classes/DocgenCompositeConfigReader.cls-meta.xml
  force-app/main/default/classes/DocgenCompositeConfigReaderTest.cls
  force-app/main/default/classes/DocgenCompositeConfigReaderTest.cls-meta.xml
  force-app/main/default/classes/DocgenController.cls
  force-app/main/default/classes/DocgenEnvelopeService.cls
  force-app/main/default/classes/DocgenGeneratedDocumentWriter.cls
  force-app/main/default/classes/DocgenGeneratedDocumentWriter.cls-meta.xml
  force-app/main/default/namedCredentials/Docgen_Node_API.namedCredential-meta.xml
  sfdx-project.json
Due: salesforce

feat: add support for PDF preview generation and storage
  README.md
  docs/secure-pdf-preview-uat.md
  force-app/main/default/classes/ContentDocumentLinkHelper.cls
  force-app/main/default/classes/DocgenAsyncController.cls
  force-app/main/default/classes/DocgenAsyncControllerTest.cls
  force-app/main/default/classes/DocgenPreviewFileStore.cls
  force-app/main/default/classes/DocgenPreviewFileStore.cls-meta.xml
  force-app/main/default/objects/Generated_Document__c/fields/Preview_Page_Count__c.field-meta.xml
  force-app/main/default/objects/Generated_Document__c/fields/Preview_Page_File_Ids__c.field-meta.xml
  sfdx-project.json
  src/preview/artifacts.ts
  src/preview/pdf-page-renderer.ts
  src/sf/files.ts
  src/types.ts
  src/worker/poller.ts
  test/preview/artifacts.test.ts
  test/preview/pdf-page-renderer.test.ts
  test/worker/poller.test.ts
Due: nodejs, salesforce

feat: update version number to 0.3.32 and enhance document preview handling in components
  docs/secure-pdf-preview-uat.md
  force-app/main/default/lwc/compositeDocgenButton/__tests__/compositeDocgenButton.test.js
  force-app/main/default/lwc/compositeDocgenButton/compositeDocgenButton.js
  force-app/main/default/lwc/docgenProgressButton/__tests__/docgenProgressButton.test.js
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.js
  sfdx-project.json
Due: salesforce

feat: enhance rich-text processing by preserving paragraph formatting and justification in generated documents
  src/templates/rich-text.ts
  test/templates/docx-postprocess.test.ts
Due: nodejs

feat: enhance document download handling to preserve site context and inherited paragraph justification
  docs/secure-pdf-preview-uat.md
  force-app/main/default/lwc/compositeDocgenButton/__tests__/compositeDocgenButton.test.js
  force-app/main/default/lwc/compositeDocgenButton/compositeDocgenButton.js
  force-app/main/default/lwc/docgenProgressButton/__tests__/docgenProgressButton.test.js
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.js
  src/templates/concatenate.ts
  test/templates/concatenate.test.ts
Due: nodejs, salesforce

feat: update version to 0.3.33 and enhance rich-text processing to remove numbering from subsequent paragraphs
  sfdx-project.json
  src/templates/rich-text.ts
  test/templates/docx-postprocess.test.ts
Due: nodejs

feat: update rich-text processing to create continuation paragraph properties and adjust indentation in generated documents
  src/templates/rich-text.ts
  test/templates/docx-postprocess.test.ts
Due: nodejs

feat: Refactor template loading logic and add DocgenTemplateConfigReader class
  force-app/main/default/classes/DocgenAsyncController.cls
  force-app/main/default/classes/DocgenTemplateConfigReader.cls
  force-app/main/default/classes/DocgenTemplateConfigReader.cls-meta.xml
  sfdx-project.json
Due: salesforce

feat: Enhance DOCX post-processing to support editable markers across runs and improve control handling
  Dockerfile
  src/templates/docx-postprocess.ts
  test/templates/docx-postprocess.test.ts
Due: nodejs

feat: Insert document protection at correct schema position in settings.xml
  src/templates/docx-postprocess.ts
  test/templates/docx-postprocess.test.ts
Due: nodejs

fix: Update Azure Subscription ID in UAT deployment workflow
  .github/workflows/deploy-uat.yml
Due: none

feat: Implement safe prefill expression handling and update tests for unresolved controls
  src/templates/docx-postprocess.ts
  test/templates/docx-postprocess.test.ts
Due: nodejs

feat: Enhance error handling in mergeTemplate for missing field paths
  src/templates/merge.ts
Due: nodejs

feat: Add HTML entity decoding for rich-text fields and enhance related tests
  src/templates/rich-text.ts
  test/templates/docx-postprocess.test.ts
Due: nodejs

feat: Implement wakePoller method to trigger immediate polling and enhance related tests
  force-app/main/default/classes/DocgenAsyncController.cls
  force-app/main/default/classes/DocgenAsyncControllerTest.cls
  force-app/main/default/lwc/compositeDocgenButton/__tests__/compositeDocgenButton.test.js
  force-app/main/default/lwc/compositeDocgenButton/compositeDocgenButton.js
  force-app/main/default/lwc/docgenProgressButton/__tests__/docgenProgressButton.test.js
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.js
  openapi.yaml
  sfdx-project.json
  src/routes/worker.ts
  src/worker/poller.ts
  test/routes/worker.test.ts
  test/worker/poller-single-flight.test.ts
Due: nodejs, salesforce

feat: Refactor PollerService for improved fetch-and-claim cycle and update related tests
  docs/poller.md
  src/routes/worker.ts
  src/worker/poller.ts
  test/worker/poller-single-flight.test.ts
Due: nodejs

feat: Add generation date fields to envelope service and corresponding tests
  docs/excel-template-authoring.md
  force-app/main/default/classes/DocgenEnvelopeService.cls
  force-app/main/default/classes/DocgenEnvelopeServiceTest.cls
  sfdx-project.json
  test/templates/xlsx.test.ts
Due: salesforce

feat: Implement operation-keyed async generation and enhance related documentation and tests
  docs/api.md
  docs/architecture.md
  docs/idempotency.md
  docs/lwc-composite-button-guide.md
  docs/lwc-document-selector-guide.md
  force-app/main/default/classes/DocgenAsyncController.cls
  force-app/main/default/classes/DocgenAsyncControllerTest.cls
  force-app/main/default/lwc/compositeDocgenButton/__tests__/compositeDocgenButton.test.js
  force-app/main/default/lwc/compositeDocgenButton/compositeDocgenButton.js
  force-app/main/default/lwc/docgenDocumentSelector/docgenDocumentSelector.html
  force-app/main/default/lwc/docgenDocumentSelector/docgenDocumentSelector.js
  force-app/main/default/lwc/docgenProgressButton/__tests__/docgenProgressButton.test.js
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.js
  force-app/main/default/objects/Generated_Document__c/fields/RequestHash__c.field-meta.xml
  openapi.yaml
  sfdx-project.json
Due: salesforce

feat: Introduce DocgenProgressIndicator component and refactor progress handling in composite buttons
  force-app/main/default/classes/ContentDocumentLinkHelper.cls
  force-app/main/default/classes/ContentDocumentLinkHelperTest.cls
  force-app/main/default/lwc/compositeDocgenButton/__tests__/compositeDocgenButton.test.js
  force-app/main/default/lwc/compositeDocgenButton/compositeDocgenButton.css
  force-app/main/default/lwc/compositeDocgenButton/compositeDocgenButton.html
  force-app/main/default/lwc/compositeDocgenButton/compositeDocgenButton.js
  force-app/main/default/lwc/docgenPdfImagePreview/docgenPdfImagePreview.css
  force-app/main/default/lwc/docgenProgressButton/__tests__/docgenProgressButton.test.js
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.css
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.html
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.js
  force-app/main/default/lwc/docgenProgressIndicator/__tests__/docgenProgressIndicator.test.js
  force-app/main/default/lwc/docgenProgressIndicator/docgenProgressIndicator.css
  force-app/main/default/lwc/docgenProgressIndicator/docgenProgressIndicator.html
  force-app/main/default/lwc/docgenProgressIndicator/docgenProgressIndicator.js
  force-app/main/default/lwc/docgenProgressIndicator/docgenProgressIndicator.js-meta.xml
  sfdx-project.json
Due: salesforce

feat: Update locale handling across Docgen classes and templates
  README.md
  development-context.md
  docs/admin-guide.md
  force-app/main/default/classes/BatchDocgenEnqueue.cls
  force-app/main/default/classes/DocgenAsyncController.cls
  force-app/main/default/classes/DocgenCompositeConfigReader.cls
  force-app/main/default/classes/DocgenController.cls
  force-app/main/default/classes/DocgenControllerTest.cls
  force-app/main/default/classes/DocgenEnvelopeService.cls
  force-app/main/default/classes/DocgenEnvelopeServiceTest.cls
  force-app/main/default/classes/DocgenTemplateConfigReader.cls
  force-app/main/default/classes/DocgenTemplateFileController.cls
  force-app/main/default/classes/StandardSOQLProvider.cls
  force-app/main/default/layouts/Composite_Document__c-Composite Document Layout.layout-meta.xml
  force-app/main/default/layouts/Docgen_Template__c-Docgen Template Layout.layout-meta.xml
  force-app/main/default/lwc/docgenConfigurationNew/__tests__/docgenConfigurationNew.test.js
  force-app/main/default/lwc/docgenConfigurationNew/docgenConfigurationNew.html
  force-app/main/default/objects/Composite_Document__c/fields/Locale_Field__c.field-meta.xml
  force-app/main/default/objects/Docgen_Template__c/fields/Locale_Field__c.field-meta.xml
  force-app/main/default/permissionsets/Docgen_User.permissionset-meta.xml
  openapi.yaml
  sfdx-project.json
  src/routes/generate.ts
  src/templates/locale-format.ts
  src/worker/poller.ts
  test/generate.unit.test.ts
  test/templates/locale-format.test.ts
  test/worker/poller.test.ts
Due: nodejs, salesforce

feat: Enhance currency handling in locale formatting and update related tests
  docs/admin-guide.md
  src/templates/locale-format.ts
  test/templates/locale-format.test.ts
Due: nodejs
