Repository processity/docgen: changes, and which Codecov flags are due for each by the changed paths.
All: nodejs, salesforce

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false

flags:
  nodejs:
    paths:
      - src/
    carryforward: true
  salesforce:
    paths:
      - force-app/
    carryforward: true

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "test/"
  - "**/*.test.ts"
  - "**/*Test.cls"

Fix the E2E test
  .github/workflows/e2e-tests.yml
Due: none

Try again
  .github/workflows/e2e-tests.yml
Due: none

Formatting error fix
  .github/workflows/e2e-tests.yml
Due: none

E2E test error fixes
  e2e/tests/batch-enqueue.spec.ts
  e2e/tests/worker-poller.spec.ts
  e2e/utils/worker-helper.ts
Due: none

Revert duplicate rule changes
  .github/workflows/e2e-tests.yml
  docs/e2e-test-status.md
  docs/e2e-testing.md
  docs/scripts.md
  e2e/README.md
  e2e/fixtures/salesforce.fixture.ts
  e2e/pages/AccountRecordPage.ts
  force-app/test/default/duplicateRules/Account.Standard_Account_Duplicate_Rule.duplicateRule-meta.xml
  force-app/test/default/duplicateRules/Contact.Standard_Contact_Duplicate_Rule.duplicateRule-meta.xml
  force-app/test/default/duplicateRules/Contact.Standard_Rule_for_Contacts_with_Duplicate_Leads.duplicateRule-meta.xml
  force-app/test/default/duplicateRules/Lead.Standard_Lead_Duplicate_Rule.duplicateRule-meta.xml
  force-app/test/default/duplicateRules/Lead.Standard_Rule_for_Leads_with_Duplicate_Contacts.duplicateRule-meta.xml
  force-app/test/default/flexipages/Account_Docgen_Test.flexipage-meta.xml
  force-app/test/default/flexipages/Account_Docgen_Test.flexipage-meta.xml.backup
  force-app/test/default/lwc/jsconfig.json
  scripts/setup-scratch-org.sh
  sfdx-project.json
Due: salesforce

Update package version to 0.3.2 and add alias for new version
  sfdx-project.json
Due: none

Add package version resolution and update CI workflows for Docgen installation
  .github/workflows/ci.yml
  .github/workflows/e2e-tests.yml
  scripts/latest-package-version.js
  scripts/setup-scratch-org.sh
Due: none

feature/unlocked-package-and-setup (#26)
  .github/workflows/ci.yml
  .github/workflows/e2e-tests.yml
  README.md
  e2e/tests/batch-enqueue.spec.ts
  e2e/tests/worker-poller.spec.ts
  e2e/utils/worker-helper.ts
  force-app/main/default/classes/DocgenObjectConfigService.cls
  force-app/main/default/classes/DocgenTestDataFactory.cls
  force-app/main/default/classes/DocgenTestPageControllerTest.cls
  force-app/main/default/classes/DocgenTestPageControllerTest.cls-meta.xml
  force-app/main/default/classes/SupportedObjectConfigTest.cls
  force-app/unpackaged/default/connectedApps/Docgen_JWT_Bearer.connectedApp-meta.xml
  force-app/unpackaged/default/customMetadata/Supported_Object__mdt.Account.md-meta.xml
  force-app/unpackaged/default/customMetadata/Supported_Object__mdt.Case.md-meta.xml
  force-app/unpackaged/default/customMetadata/Supported_Object__mdt.Contact.md-meta.xml
  force-app/unpackaged/default/customMetadata/Supported_Object__mdt.Lead.md-meta.xml
  force-app/unpackaged/default/customMetadata/Supported_Object__mdt.Opportunity.md-meta.xml
  scripts/latest-package-version.js
  scripts/run-e2e-with-real-backend.sh
  scripts/setup-scratch-org.sh
  sfdx-project.json
Due: salesforce

apex test fix
  force-app/main/default/classes/DocgenEnvelopeService.cls
  sfdx-project.json
Due: salesforce

fix E2E test
  .github/workflows/e2e-tests.yml
  e2e/fixtures/salesforce.fixture.ts
  e2e/playwright.config.ts
  e2e/tests/worker-poller.spec.ts
  e2e/tsconfig.json
  e2e/utils/batch-helper.ts
  e2e/utils/worker-helper.ts
Due: none

Fix CI named credential URL setup
  .github/workflows/e2e-tests.yml
  scripts/TestNamedCredentialCallout.apex
Due: none

nc url fix
  scripts/ConfigureNamedCredential.apex
Due: none

feature/docgen-enhacements-part-2
  force-app/main/default/classes/DocgenController.cls
  force-app/main/default/classes/DocgenControllerTest.cls
  force-app/main/default/classes/DocgenTestDataFactory.cls
  openapi.yaml
  sfdx-project.json
  src/routes/generate.ts
  src/types.ts
  test/generate.integration.test.ts
  test/generate.unit.test.ts
Due: nodejs, salesforce

fix: Simplify Salesforce authentication checks in PollerService
  src/worker/poller.ts
  test/worker/poller.test.ts
Due: nodejs

feat: Enhance Salesforce authentication handling in tests
  test/auth.test.ts
Due: none

feat: Update CI Key Vault secret population to use file input and improve error handling for SFDX Auth URL
  .github/workflows/deploy-ci-backend.yml
  .github/workflows/e2e-tests.yml
  scripts/provision-ci-backend.sh
Due: none

feat: Enhance SFDX Auth URL validation and improve error handling in SalesforceAuth class
  .github/workflows/deploy-ci-backend.yml
  .github/workflows/e2e-tests.yml
  src/sf/auth.ts
  test/sf.auth.test.ts
Due: nodejs

feat: Normalize instance URL protocol and enhance SFDX Auth URL validation in workflows
  .github/workflows/deploy-ci-backend.yml
  .github/workflows/e2e-tests.yml
  src/sf/auth.ts
  test/sf.auth.test.ts
Due: nodejs

feat: Implement SFDX Auth URL extraction and add tests for utility functions
  .github/workflows/e2e-tests.yml
  scripts/extract-sfdx-auth-url.js
  test/scripts/extract-sfdx-auth-url.test.ts
Due: none

feat: Enhance Salesforce authentication to support direct access token and instance URL
  .github/workflows/e2e-tests.yml
  scripts/extract-sfdx-auth-url.js
  src/config/index.ts
  src/config/secrets.ts
  src/server.ts
  src/sf/auth.ts
  src/types.ts
  test/config.secrets.test.ts
  test/config.test.ts
  test/scripts/extract-sfdx-auth-url.test.ts
  test/sf.auth.test.ts
Due: nodejs

feat: Enhance scratch org utilities with improved error handling and Axios integration for API calls
  .github/workflows/e2e-tests.yml
  e2e/utils/scratch-org.ts
  test/e2e.scratch-org.test.ts
Due: none

feat: Refactor createRecord function to use Salesforce CLI REST auth and improve error handling
  e2e/utils/scratch-org.ts
  test/e2e.scratch-org.test.ts
Due: none

feature/docgen-enhacements-part-2 (#28)
  .github/workflows/deploy-ci-backend.yml
  .github/workflows/e2e-tests.yml
  e2e/utils/scratch-org.ts
  force-app/main/default/classes/DocgenController.cls
  force-app/main/default/classes/DocgenControllerTest.cls
  force-app/main/default/classes/DocgenTestDataFactory.cls
  openapi.yaml
  scripts/provision-ci-backend.sh
  sfdx-project.json
  src/config/index.ts
  src/config/secrets.ts
  src/routes/generate.ts
  src/server.ts
  src/sf/auth.ts
  src/types.ts
  src/worker/poller.ts
  test/auth.test.ts
  test/config.secrets.test.ts
  test/config.test.ts
  test/e2e.scratch-org.test.ts
  test/generate.integration.test.ts
  test/generate.unit.test.ts
  test/sf.auth.test.ts
  test/worker/poller.test.ts
Due: nodejs, salesforce

feature/docgen-enhacements-part-3
  src/templates/docx-postprocess.ts
  test/templates/docx-postprocess.test.ts
Due: nodejs

feature/docgen-enhacements-part-3 (#29)
  src/templates/docx-postprocess.ts
  test/templates/docx-postprocess.test.ts
Due: nodejs

feature/docgen-enhacements-part-4
  force-app/main/default/classes/DocgenAsyncController.cls
  force-app/main/default/classes/DocgenAsyncController.cls-meta.xml
  force-app/main/default/classes/DocgenAsyncControllerTest.cls
  force-app/main/default/classes/DocgenAsyncControllerTest.cls-meta.xml
  force-app/main/default/lwc/docgenProgressButton/__tests__/docgenProgressButton.test.js
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.html
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.js
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.js-meta.xml
  force-app/main/default/lwc/docgenTestPage/__tests__/docgenTestPage.test.js
  force-app/main/default/lwc/docgenTestPage/docgenTestPage.html
  force-app/main/default/lwc/docgenTestPage/docgenTestPage.js
  force-app/main/default/permissionsets/Docgen_User.permissionset-meta.xml
  sfdx-project.json
Due: salesforce

feature/docgen-enhacements-part-4 (#30)
  force-app/main/default/classes/DocgenAsyncController.cls
  force-app/main/default/classes/DocgenAsyncController.cls-meta.xml
  force-app/main/default/classes/DocgenAsyncControllerTest.cls
  force-app/main/default/classes/DocgenAsyncControllerTest.cls-meta.xml
  force-app/main/default/lwc/docgenProgressButton/__tests__/docgenProgressButton.test.js
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.html
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.js
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.js-meta.xml
  force-app/main/default/lwc/docgenTestPage/__tests__/docgenTestPage.test.js
  force-app/main/default/lwc/docgenTestPage/docgenTestPage.html
  force-app/main/default/lwc/docgenTestPage/docgenTestPage.js
  force-app/main/default/permissionsets/Docgen_User.permissionset-meta.xml
  sfdx-project.json
Due: salesforce

feature/docgen-enhacements-part-5
  src/convert/soffice.ts
  src/templates/docx-postprocess.ts
  src/templates/merge.ts
  test/convert.test.ts
  test/templates/docx-postprocess.test.ts
  test/templates/merge.test.ts
Due: nodejs

feature/docgen-enhacements-part-5 (#31)
  force-app/main/default/layouts/Generated_Document__c-Generated Document Layout.layout-meta.xml
  force-app/main/default/objects/Docgen_Template__c/Docgen_Template__c.object-meta.xml
  force-app/main/default/objects/Generated_Document__c/fields/Created_Date__c.field-meta.xml
  force-app/main/default/objects/Generated_Document__c/fields/Last_Modified_Date__c.field-meta.xml
  force-app/main/default/permissionsets/Docgen_User.permissionset-meta.xml
  sfdx-project.json
  src/convert/soffice.ts
  src/templates/docx-postprocess.ts
  src/templates/merge.ts
  test/convert.test.ts
  test/templates/docx-postprocess.test.ts
  test/templates/merge.test.ts
Due: nodejs, salesforce

Template encoding issue fix
  src/templates/docx-postprocess.ts
  src/templates/merge.ts
  src/templates/rich-text.ts
  test/templates/docx-postprocess.test.ts
Due: nodejs

template merge issue fix
  src/templates/merge.ts
  test/templates/docx-postprocess.test.ts
Due: nodejs

composite button LWC
  docs/lwc-composite-button-guide.md
  force-app/main/default/classes/DocgenController.cls
  force-app/main/default/classes/DocgenControllerTest.cls
  force-app/main/default/lwc/compositeDocgenButton/__tests__/compositeDocgenButton.test.js
  force-app/main/default/lwc/compositeDocgenButton/compositeDocgenButton.html
  force-app/main/default/lwc/compositeDocgenButton/compositeDocgenButton.js
  force-app/main/default/lwc/compositeDocgenButton/compositeDocgenButton.js-meta.xml
  force-app/main/default/permissionsets/Docgen_User.permissionset-meta.xml
  sfdx-project.json
Due: salesforce

Document preview feature for button UI
  force-app/main/default/classes/DocgenAsyncController.cls
  force-app/main/default/classes/DocgenAsyncControllerTest.cls
  force-app/main/default/classes/GeneratedDocumentTriggerHandler.cls
  force-app/main/default/classes/GeneratedDocumentTriggerHandlerTest.cls
  force-app/main/default/lwc/docgenProgressButton/__tests__/docgenProgressButton.test.js
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.css
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.html
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.js
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.js-meta.xml
  force-app/main/default/objects/Generated_Document__c/fields/PendingPreview__c.field-meta.xml
  force-app/main/default/permissionsets/Docgen_User.permissionset-meta.xml
  sfdx-project.json
Due: salesforce

Default output format fields
  README.md
  development-context.md
  development-tasks.md
  docs/api.md
  docs/lwc-composite-button-guide.md
  docs/quick-start.md
  force-app/main/default/classes/BatchDocgenEnqueue.cls
  force-app/main/default/classes/DocgenAsyncController.cls
  force-app/main/default/classes/DocgenAsyncControllerTest.cls
  force-app/main/default/classes/DocgenController.cls
  force-app/main/default/classes/DocgenControllerTest.cls
  force-app/main/default/classes/DocgenEnvelopeService.cls
  force-app/main/default/layouts/Composite_Document__c-Composite Document Layout.layout-meta.xml
  force-app/main/default/layouts/Docgen_Template__c-Docgen Template Layout.layout-meta.xml
  force-app/main/default/lwc/compositeDocgenButton/__tests__/compositeDocgenButton.test.js
  force-app/main/default/lwc/compositeDocgenButton/compositeDocgenButton.js
  force-app/main/default/lwc/compositeDocgenButton/compositeDocgenButton.js-meta.xml
  force-app/main/default/lwc/docgenButton/__tests__/docgenButton.test.js
  force-app/main/default/lwc/docgenButton/docgenButton.js
  force-app/main/default/lwc/docgenButton/docgenButton.js-meta.xml
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.js
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.js-meta.xml
  force-app/main/default/lwc/docgenTestPage/__tests__/docgenTestPage.test.js
  force-app/main/default/lwc/docgenTestPage/docgenTestPage.html
  force-app/main/default/lwc/docgenTestPage/docgenTestPage.js
  force-app/main/default/objects/Composite_Document__c/fields/Default_Output_Format__c.field-meta.xml
  force-app/main/default/objects/Docgen_Template__c/fields/Default_Output_Format__c.field-meta.xml
  force-app/main/default/permissionsets/Docgen_User.permissionset-meta.xml
  sfdx-project.json
Due: salesforce

feat: Enhance PDF preview functionality and UI improvements
  force-app/main/default/classes/DocgenAsyncController.cls
  force-app/main/default/classes/DocgenAsyncControllerTest.cls
  force-app/main/default/lwc/docgenProgressButton/__tests__/docgenProgressButton.test.js
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.css
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.html
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.js
  sfdx-project.json
Due: salesforce

feat: Enhance data unwrapping logic in CompositeDocgenDataProvider
  force-app/main/default/classes/CompositeDocgenDataProvider.cls
  force-app/main/default/classes/CompositeDocgenDataProviderTest.cls
  sfdx-project.json
Due: salesforce

feat: Watermark styling configurations
  docs/api.md
  force-app/main/default/classes/BatchDocgenEnqueue.cls
  force-app/main/default/classes/DocgenAsyncController.cls
  force-app/main/default/classes/DocgenController.cls
  force-app/main/default/classes/DocgenControllerTest.cls
  force-app/main/default/classes/DocgenEnvelopeService.cls
  force-app/main/default/classes/DocgenEnvelopeServiceTest.cls
  force-app/main/default/layouts/Docgen_Template__c-Docgen Template Layout.layout-meta.xml
  force-app/main/default/objects/Docgen_Template__c/fields/Watermark_Style__c.field-meta.xml
  force-app/main/default/permissionsets/Docgen_User.permissionset-meta.xml
  openapi.yaml
  sfdx-project.json
  src/routes/generate.ts
  src/templates/docx-postprocess.ts
  src/types.ts
  test/templates/docx-postprocess.test.ts
Due: nodejs, salesforce

feat: Composite Document enhancements
  force-app/main/default/classes/CompositeDocumentTest.cls
  force-app/main/default/classes/DocgenEnvelopeService.cls
  force-app/main/default/classes/DocgenEnvelopeServiceTest.cls
  force-app/main/default/classes/StandardSOQLProvider.cls
  force-app/main/default/classes/StandardSOQLProviderTest.cls
  force-app/main/default/layouts/Composite_Document__c-Composite Document Layout.layout-meta.xml
  force-app/main/default/objects/Composite_Document__c/fields/Output_File_Name_Field__c.field-meta.xml
  force-app/main/default/objects/Composite_Document__c/fields/Watermark_Condition_Field__c.field-meta.xml
  force-app/main/default/objects/Composite_Document__c/fields/Watermark_Style__c.field-meta.xml
  force-app/main/default/objects/Composite_Document__c/fields/Watermark_Text__c.field-meta.xml
  force-app/main/default/permissionsets/Docgen_User.permissionset-meta.xml
  sfdx-project.json
  src/routes/generate.ts
  src/templates/concatenate.ts
  src/templates/docx-postprocess.ts
  src/templates/index.ts
  src/worker/poller.ts
  test/templates/concatenate.test.ts
  test/templates/docx-postprocess.test.ts
Due: nodejs, salesforce
