Repository processity/docgen: changes, and which Codecov flags are due for each by the changed paths.
All: nodejs, salesforce

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false

flags:
  nodejs:
    paths:
      - src/
    carryforward: true
  salesforce:
    paths:
      - force-app/
    carryforward: true

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "test/"
  - "**/*.test.ts"
  - "**/*Test.cls"

Fix Apex coverage transformer installation
  .github/workflows/ci.yml
Due: none

Auto-confirm Salesforce CLI plugin installation
  .github/workflows/ci.yml
Due: none

Add labels to Codecov badges for clarity
  README.md
Due: none

Add MIT License file and update from ISC
  LICENSE
  README.md
  package.json
Due: none

Enhance development tasks documentation and update completion status
  development-tasks.md
Due: none

Add Playwright E2E testing framework and update project configuration
  .github/workflows/e2e-tests.yml
  .gitignore
  .mcp.json
  README.md
  docs/e2e-test-status.md
  docs/e2e-testing.md
  e2e/.gitignore
  e2e/README.md
  e2e/fixtures/salesforce.fixture.ts
  e2e/pages/AccountRecordPage.ts
  e2e/pages/DocgenButtonComponent.ts
  e2e/playwright.config.ts
  e2e/tests/docgen-button.spec.ts
  e2e/tsconfig.json
  e2e/utils/scratch-org.ts
  force-app/main/default/classes/DocgenController.cls
  force-app/main/default/objects/Docgen_Settings__c/Docgen_Settings__c.object-meta.xml
  force-app/main/default/objects/Docgen_Settings__c/fields/Test_Mode__c.field-meta.xml
  force-app/main/default/permissionsets/Docgen_User.permissionset-meta.xml
  force-app/test/default/flexipages/Account_Docgen_Test.flexipage-meta.xml
  force-app/test/default/objects/Account/Account.object-meta.xml
  package-lock.json
  package.json
  scripts/setup-scratch-org.sh
  sfdx-project.json
Due: salesforce

Fix CI E2E tests by using SF_USERNAME environment variable
  e2e/utils/scratch-org.ts
Due: none

Capture stdout in SF CLI error handling
  e2e/utils/scratch-org.ts
Due: none

Add permission set assignment to CI workflow
  .github/workflows/e2e-tests.yml
Due: none

Fix CI test failures and enable HTML report artifacts
  .forceignore
  e2e/fixtures/salesforce.fixture.ts
  e2e/playwright.config.ts
  e2e/tests/docgen-button.spec.ts
  e2e/utils/scratch-org.ts
  force-app/main/default/lwc/jsconfig.json
Due: salesforce

Implement template name-based resolution for E2E tests
  e2e/fixtures/salesforce.fixture.ts
  force-app/main/default/classes/DocgenController.cls
  force-app/main/default/lwc/docgenButton/docgenButton.js
  force-app/main/default/lwc/docgenButton/docgenButton.js-meta.xml
  force-app/test/default/flexipages/Account_Docgen_Test.flexipage-meta.xml
Due: salesforce

Add Playwright E2E testing (#7)
  .forceignore
  .github/workflows/e2e-tests.yml
  .gitignore
  .mcp.json
  README.md
  development-tasks.md
  docs/contentdocumentlink.md
  docs/e2e-test-status.md
  docs/e2e-testing.md
  e2e/.gitignore
  e2e/README.md
  e2e/fixtures/salesforce.fixture.ts
  e2e/pages/AccountRecordPage.ts
  e2e/pages/DocgenButtonComponent.ts
  e2e/playwright.config.ts
  e2e/tests/docgen-button.spec.ts
  e2e/tsconfig.json
  e2e/utils/scratch-org.ts
  force-app/main/default/classes/DocgenController.cls
  force-app/main/default/lwc/docgenButton/__tests__/docgenButton.test.js
  force-app/main/default/lwc/docgenButton/docgenButton.html
  force-app/main/default/lwc/docgenButton/docgenButton.js
  force-app/main/default/lwc/docgenButton/docgenButton.js-meta.xml
  force-app/main/default/lwc/jsconfig.json
  force-app/main/default/objects/Docgen_Settings__c/Docgen_Settings__c.object-meta.xml
  force-app/main/default/objects/Docgen_Settings__c/fields/Test_Mode__c.field-meta.xml
  force-app/main/default/permissionsets/Docgen_User.permissionset-meta.xml
  force-app/test/default/flexipages/Account_Docgen_Test.flexipage-meta.xml
  force-app/test/default/objects/Account/Account.object-meta.xml
  jest.config.lwc.js
  package-lock.json
  package.json
  scripts/setup-scratch-org.sh
  sfdx-project.json
Due: salesforce

Implement T-08: Azure AD JWT authentication with JWKS verification
  README.md
  development-tasks.md
  package-lock.json
  package.json
  src/auth/aad.ts
  src/auth/index.ts
  src/config/index.ts
  src/plugins/auth.ts
  src/routes/generate.ts
  src/routes/health.ts
  src/server.ts
  src/types.ts
  test/auth.test.ts
  test/config.test.ts
  test/correlation-id.test.ts
  test/generate.test.ts
  test/helpers/jwt-helper.ts
  test/samples.test.ts
Due: nodejs

Implement T-08: Azure AD JWT authentication with JWKS verification (#8)
  README.md
  development-tasks.md
  package-lock.json
  package.json
  src/auth/aad.ts
  src/auth/index.ts
  src/config/index.ts
  src/plugins/auth.ts
  src/routes/generate.ts
  src/routes/health.ts
  src/server.ts
  src/types.ts
  test/auth.test.ts
  test/config.test.ts
  test/correlation-id.test.ts
  test/generate.test.ts
  test/helpers/jwt-helper.ts
  test/samples.test.ts
Due: nodejs

Implement T-09: Salesforce JWT Bearer authentication and API client (#9)
  .env.example
  development-tasks.md
  package-lock.json
  package.json
  src/config/index.ts
  src/routes/health.ts
  src/sf/api.ts
  src/sf/auth.ts
  src/sf/index.ts
  src/types.ts
  test/config.test.ts
  test/sf.api.test.ts
  test/sf.auth.test.ts
Due: nodejs

Implement T-10: Template Fetch & Immutable Cache + docx-templates Usage
  README.md
  development-tasks.md
  docs/template-authoring.md
  package-lock.json
  package.json
  src/sf/api.ts
  src/templates/cache.ts
  src/templates/index.ts
  src/templates/merge.ts
  src/templates/service.ts
  src/types.ts
  src/utils/image-allowlist.ts
  test/templates/cache.test.ts
  test/templates/merge.test.ts
  test/templates/service.test.ts
Due: nodejs

Implement T-11: LibreOffice Conversion Pool
  README.md
  development-tasks.md
  docs/T11-COMPLETION-SUMMARY.md
  src/config/index.ts
  src/convert/index.ts
  src/convert/soffice.ts
  src/types.ts
  test/convert.test.ts
Due: nodejs

Fix CI failures: Add conversion config to test fixtures
  test/config.test.ts
  test/convert.test.ts
Due: none

ci: Install LibreOffice in CI for PDF conversion tests
  .github/workflows/ci.yml
Due: none

fix: Use SF_PRIVATE_KEY from environment in CI tests
  .github/workflows/ci.yml
  test/correlation-id.test.ts
  test/generate.unit.test.ts
  test/samples.test.ts
Due: none

End‑to‑End Interactive Path (#13)
  .github/workflows/ci.yml
  .gitignore
  development-tasks.md
  jest.config.ts
  openapi.yaml
  package-lock.json
  package.json
  run-integration-tests.sh
  src/config/index.ts
  src/convert/soffice.ts
  src/routes/auth-test.ts
  src/routes/generate.ts
  src/server.ts
  src/sf/api.ts
  src/sf/auth.ts
  src/templates/cache.ts
  src/templates/merge.ts
  src/templates/service.ts
  src/utils/image-allowlist.ts
  src/utils/logger.ts
  test/auth.test.ts
  test/correlation-id.test.ts
  test/generate.integration.test.ts
  test/generate.test.ts
  test/generate.unit.test.ts
  test/helpers/test-docx.ts
  test/samples.test.ts
  test/sf.auth.integration.test.ts
  test/templates/service.test.ts
Due: nodejs

Fix T-14 tests: Use real Salesforce auth instead of mocks
  test/routes/worker.test.ts
  test/worker/poller.test.ts
Due: none

feat: Load environment variables in Jest setup
  test/setup.ts
Due: none

fix: Install Java for LibreOffice in CI
  .github/workflows/ci.yml
Due: none

fix: Allow auth bypass in non-production when AAD not configured
  src/plugins/auth.ts
Due: nodejs

fix: Resolve ESLint errors
  src/auth/aad.ts
  test/sf.auth.integration.test.ts
Due: nodejs

feat: Add CI concurrency to cancel previous runs
  .github/workflows/ci.yml
Due: none

fix: Configure AAD test defaults and restrict auth bypass to development
  src/plugins/auth.ts
  test/setup.ts
Due: nodejs

T-14: Batch Enqueue & Node Poller Worker (#14)
  .github/workflows/ci.yml
  .gitignore
  README.md
  __.mcp.json
  development-tasks.md
  docs/poller.md
  force-app/main/default/classes/BatchDocgenEnqueue.cls
  force-app/main/default/classes/BatchDocgenEnqueue.cls-meta.xml
  force-app/main/default/classes/BatchDocgenEnqueueTest.cls
  force-app/main/default/classes/BatchDocgenEnqueueTest.cls-meta.xml
  force-app/main/default/objects/Generated_Document__c/fields/MergedDocxFileId__c.field-meta.xml
  force-app/main/default/objects/Generated_Document__c/fields/ScheduledRetryTime__c.field-meta.xml
  force-app/main/default/permissionsets/Docgen_User.permissionset-meta.xml
  openapi.yaml
  src/auth/aad.ts
  src/config/index.ts
  src/plugins/auth.ts
  src/routes/worker.ts
  src/server.ts
  src/types.ts
  src/worker/index.ts
  src/worker/poller.ts
  test/config.test.ts
  test/helpers/jwt-helper.ts
  test/routes/worker.test.ts
  test/setup.ts
  test/sf.auth.integration.test.ts
  test/worker/poller.integration.test.ts
  test/worker/poller.test.ts
Due: nodejs, salesforce

T-15: Observability with Azure Application Insights (#15)
  .env.example
  README.md
  docs/dashboards.md
  package-lock.json
  package.json
  src/config/index.ts
  src/convert/soffice.ts
  src/obs/index.ts
  src/obs/insights.ts
  src/routes/generate.ts
  src/server.ts
  src/sf/api.ts
  src/types.ts
  src/worker/poller.ts
  test/config.test.ts
  test/obs.test.ts
Due: nodejs

T-16 Phase 3: Containerization with Docker and LibreOffice
  .dockerignore
  Dockerfile
  T16-PLAN.md
Due: none

T-16 Phase 5: CI/CD Workflows for Automated Deployment
  .github/workflows/ci.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/docker-build.yml
  T16-PLAN.md
Due: none

T-16 Phase 6: First Azure Deployment - Application Live and Running
  T16-PLAN.md
Due: none

Fix staging deployment workflow secrets issue
  .github/workflows/docker-build.yml
  GITHUB_SECRETS_INSTRUCTIONS.md
  scripts/update-github-secrets.sh
Due: none

Comment out role assignments in Bicep template
  infra/modules/app.bicep
Due: none

Update development-tasks.md with T-16 completion
  development-tasks.md
Due: none

Mark core development complete: Move T-17 and T-18 to future-enhancements.md
  development-tasks.md
  future-enhancements.md
Due: none

Add Docgen Template File Management functionality
  force-app/main/default/classes/DocgenTemplateFileController.cls
  force-app/main/default/classes/DocgenTemplateFileController.cls-meta.xml
  force-app/main/default/lwc/docgenTemplateFileManager/docgenTemplateFileManager.html
  force-app/main/default/lwc/docgenTemplateFileManager/docgenTemplateFileManager.js
  force-app/main/default/lwc/docgenTemplateFileManager/docgenTemplateFileManager.js-meta.xml
  force-app/main/main/default/layouts/Docgen_Template__c-Docgen Template Layout.layout-meta.xml
  force-app/test/default/lwc/docgenTestPage/docgenTestPage.html
  force-app/test/default/lwc/docgenTestPage/docgenTestPage.js
Due: salesforce

feat: add SFDX Auth URL support for CI backend authentication
  .ci-backend-url
  .env.example
  force-app/test/default/lwc/jsconfig.json
  force-app/test/default/namedCredentials/Docgen_Node_API_CI.namedCredential-meta.xml
  infra/parameters/ci.bicepparam
  scripts/configure-ci-backend-for-scratch-org.sh
  src/config/index.ts
  src/config/secrets.ts
  src/server.ts
  src/sf/auth.ts
  src/types.ts
  test/config.test.ts
  test/sf.auth.test.ts
Due: nodejs, salesforce

refactor: streamline AAD credential configuration in e2e tests
  .github/workflows/e2e-tests.yml
  e2e/helpers/configure-external-credential.ts
Due: none
