Repository processity/docgen: changes, and which Codecov flags are due for each by the changed paths.
All: nodejs, salesforce

feat: Implement request formatting and storage for generated documents, enhancing locale handling and adding tests
  docs/admin-guide.md
  openapi.yaml
  src/routes/generate.ts
  src/sf/formatted-request.ts
  src/templates/locale-format.ts
  src/worker/poller.ts
  test/sf.formatted-request.test.ts
  test/templates/locale-format.test.ts
  test/worker/poller.test.ts
Due: nodejs

feat: Add currency formatting helper and update documentation for EXEC-calculated totals
  docs/admin-guide.md
  docs/template-authoring.md
  src/templates/exec-helpers.ts
  src/templates/locale-format.ts
  src/templates/merge.ts
  test/templates/exec-helpers.test.ts
Due: nodejs

feat(metrics): add performance and resource metrics endpoints
  README.md
  docs/api.md
  force-app/main/default/applications/Docgen.app-meta.xml
  force-app/main/default/classes/DocgenStatusController.cls
  force-app/main/default/classes/DocgenStatusControllerTest.cls
  force-app/main/default/lwc/docgenStatus/__tests__/docgenStatus.test.js
  force-app/main/default/lwc/docgenStatus/docgenStatus.css
  force-app/main/default/lwc/docgenStatus/docgenStatus.html
  force-app/main/default/lwc/docgenStatus/docgenStatus.js
  openapi.yaml
  sfdx-project.json
  src/convert/soffice.ts
  src/obs/index.ts
  src/obs/perf.ts
  src/pdf/attachments.ts
  src/preview/pdf-page-renderer.ts
  src/routes/generate.ts
  src/routes/metrics.ts
  src/server.ts
  src/sf/files.ts
  src/templates/cache.ts
  src/templates/concatenate.ts
  src/templates/merge.ts
  src/templates/pptx.ts
  src/templates/service.ts
  src/templates/xlsx.ts
  src/worker/poller.ts
  test/obs.instrumentation.test.ts
  test/obs.perf.cgroup.test.ts
  test/obs.perf.test.ts
  test/routes/metrics.test.ts
  test/worker/poller.test.ts
Due: nodejs, salesforce

feat: Update DocgenStatus component with enhanced data loading and UI improvements
  force-app/main/default/classes/DocgenStatusController.cls
  force-app/main/default/classes/DocgenStatusControllerTest.cls
  force-app/main/default/lwc/docgenStatus/__tests__/docgenStatus.test.js
  force-app/main/default/lwc/docgenStatus/docgenStatus.css
  force-app/main/default/lwc/docgenStatus/docgenStatus.html
  force-app/main/default/lwc/docgenStatus/docgenStatus.js
  sfdx-project.json
Due: salesforce

feat(metrics): add /metrics/fleet endpoint for shared performance and resource metrics
  README.md
  docs/api.md
  docs/fleet-metrics.md
  force-app/main/default/classes/DocgenStatusController.cls
  force-app/main/default/classes/DocgenStatusControllerTest.cls
  force-app/main/default/lwc/docgenStatus/__tests__/docgenStatus.test.js
  force-app/main/default/lwc/docgenStatus/docgenStatus.css
  force-app/main/default/lwc/docgenStatus/docgenStatus.html
  force-app/main/default/lwc/docgenStatus/docgenStatus.js
  infra/main.bicep
  infra/modules/app.bicep
  infra/modules/fleet-metrics-access.bicep
  openapi.yaml
  sfdx-project.json
  src/obs/fleet-events.ts
  src/obs/fleet.ts
  src/obs/perf.ts
  src/obs/resources.ts
  src/routes/metrics.ts
  src/server.ts
  test/obs.fleet-events.test.ts
  test/obs.fleet.test.ts
  test/routes/metrics.test.ts
Due: nodejs, salesforce

feat(metrics): implement fleet metrics configuration and access setup during deployments
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/deploy-uat.yml
  docs/api.md
  docs/fleet-metrics.md
  infra/modules/app.bicep
  infra/modules/fleet-metrics-access.bicep
  scripts/configure-fleet-metrics.py
  src/obs/fleet-events.ts
  src/obs/fleet.ts
  src/obs/resources.ts
  test/obs.fleet-events.test.ts
  test/obs.fleet.test.ts
  test/scripts/test_configure_fleet_metrics.py
Due: nodejs

refactor: remove fleet metrics telemetry and related functionality
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/deploy-uat.yml
  README.md
  docs/api.md
  docs/fleet-metrics.md
  force-app/main/default/classes/DocgenStatusController.cls
  force-app/main/default/classes/DocgenStatusControllerTest.cls
  force-app/main/default/lwc/docgenStatus/__tests__/docgenStatus.test.js
  force-app/main/default/lwc/docgenStatus/docgenStatus.css
  force-app/main/default/lwc/docgenStatus/docgenStatus.html
  force-app/main/default/lwc/docgenStatus/docgenStatus.js
  infra/main.bicep
  infra/modules/app.bicep
  infra/modules/fleet-metrics-access.bicep
  openapi.yaml
  scripts/configure-fleet-metrics.py
  sfdx-project.json
  src/obs/fleet-events.ts
  src/obs/fleet.ts
  src/obs/perf.ts
  src/obs/resources.ts
  src/routes/metrics.ts
  src/server.ts
  test/obs.fleet-events.test.ts
  test/obs.fleet.test.ts
  test/routes/metrics.test.ts
  test/scripts/test_configure_fleet_metrics.py
Due: nodejs, salesforce

feat: Update Named Credential configuration for sandbox environments
  .github/workflows/deploy-staging.yml
  .github/workflows/docker-build.yml
  .github/workflows/e2e-tests.yml
  README.md
  development-tasks.md
  docs/api.md
  docs/deploy.md
  docs/named-credential-setup.md
  docs/provisioning-checklist.md
  docs/provisioning.md
  docs/quick-start.md
  docs/runbooks.md
  docs/scripts.md
  docs/troubleshooting-index.md
  e2e/fixtures/salesforce.fixture.ts
  force-app/main/default/classes/DocgenAsyncController.cls
  force-app/main/default/classes/DocgenAsyncControllerTest.cls
  force-app/main/default/classes/DocgenConnectionConfig.cls
  force-app/main/default/classes/DocgenConnectionConfig.cls-meta.xml
  force-app/main/default/classes/DocgenConnectionConfigTest.cls
  force-app/main/default/classes/DocgenConnectionConfigTest.cls-meta.xml
  force-app/main/default/classes/DocgenController.cls
  force-app/main/default/classes/DocgenControllerTest.cls
  force-app/main/default/classes/DocgenStatusController.cls
  force-app/main/default/externalCredentials/Docgen_AAD_Credential_CI.externalCredential-meta.xml
  force-app/main/default/namedCredentials/Docgen_Node_API_Sandbox.namedCredential-meta.xml
  force-app/main/default/objects/Docgen_Settings__c/fields/Named_Credential_Name__c.field-meta.xml
  force-app/main/default/permissionsets/Docgen_User.permissionset-meta.xml
  scripts/ConfigureCustomSettings.apex
  scripts/ConfigureExternalCredential.apex
  scripts/ConfigureNamedCredential.apex
  scripts/README.md
  scripts/TestNamedCredentialCallout.apex
  scripts/VerifyCredentialStatus.apex
  scripts/configure-external-credential.sh
  scripts/configure-named-credential.sh
  scripts/run-e2e-with-real-backend.sh
  scripts/setup-scratch-org.sh
  scripts/update-github-secrets.sh
  sfdx-project.json
Due: salesforce

feat: Update deployment workflows and configuration to support SF_USERNAME precedence
  .env.example
  .github/workflows/deploy-ci-backend.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-uat.yml
  docs/deploy.md
  src/config/index.ts
  src/config/secrets.ts
  test/config.secrets.test.ts
  test/config.test.ts
Due: nodejs

feat: add reconnect flow for Salesforce integration
  .env.example
  docs/backend-reconnect.md
  docs/named-credential-setup.md
  force-app/main/default/classes/DocgenConnectionController.cls
  force-app/main/default/classes/DocgenConnectionController.cls-meta.xml
  force-app/main/default/classes/DocgenConnectionControllerTest.cls
  force-app/main/default/classes/DocgenConnectionControllerTest.cls-meta.xml
  force-app/main/default/customPermissions/Docgen_Manage_Connection.customPermission-meta.xml
  force-app/main/default/lwc/docgenStatus/__tests__/docgenStatus.noConnectionAccess.test.js
  force-app/main/default/lwc/docgenStatus/__tests__/docgenStatus.test.js
  force-app/main/default/lwc/docgenStatus/docgenStatus.html
  force-app/main/default/lwc/docgenStatus/docgenStatus.js
  force-app/main/default/permissionsets/Docgen_Admin.permissionset-meta.xml
  sfdx-project.json
  src/config/index.ts
  src/config/secrets.ts
  src/routes/connect.ts
  src/server.ts
  src/sf/auth.ts
  src/sf/reconnect.ts
  src/types.ts
  test/config.secrets.test.ts
  test/config.test.ts
  test/connect.routes.test.ts
  test/sf.reconnect.test.ts
Due: nodejs, salesforce

feat: add tests for reconnect functionality with production Salesforce org and credentials
  .env.example
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-uat.yml
  docs/backend-reconnect.md
  docs/deploy.md
  force-app/main/default/lwc/docgenConnectionAssets/docgenConnectionAssets.js
  force-app/main/default/lwc/docgenConnectionAssets/docgenConnectionAssets.js-meta.xml
  force-app/main/default/lwc/docgenStatus/__tests__/docgenStatus.test.js
  force-app/main/default/lwc/docgenStatus/docgenStatus.html
  force-app/main/default/lwc/docgenStatus/docgenStatus.js
  force-app/main/default/staticresources/DocgenUatJwtCertificate.resource
  force-app/main/default/staticresources/DocgenUatJwtCertificate.resource-meta.xml
  infra/main.bicep
  infra/modules/app.bicep
  infra/parameters/production.bicepparam
  scripts/enable-reconnect-editing.py
  scripts/mount-reconnect-files.py
  scripts/reconnect-deployment-config.js
  sfdx-project.json
  src/config/index.ts
  src/config/secrets.ts
  src/routes/connect.ts
  src/server.ts
  src/sf/auth.ts
  src/sf/connection-manager.ts
  src/sf/connection-store.ts
  src/sf/file-connection-store.ts
  src/sf/reconnect.ts
  src/types.ts
  test/config.secrets.test.ts
  test/config.test.ts
  test/connect.credentials.test.ts
  test/connect.routes.test.ts
  test/connection.store.test.ts
  test/file.connection-store.test.ts
  test/reconnect.deployment.test.ts
  test/reconnect.provision.test.ts
  test/sf.auth.test.ts
  test/sf.reconnect.test.ts
Due: nodejs, salesforce

feat: update UAT certificate label and enhance connection setup instructions in the UI
  force-app/main/default/lwc/docgenConnectionAssets/docgenConnectionAssets.js
  force-app/main/default/lwc/docgenStatus/__tests__/docgenStatus.test.js
  force-app/main/default/lwc/docgenStatus/docgenStatus.css
  force-app/main/default/lwc/docgenStatus/docgenStatus.html
  sfdx-project.json
Due: salesforce

feat: update SF_USERNAME for production and UAT deployment workflows
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-uat.yml
Due: none

feat: add field permissions for Preview_Page_Count__c and Preview_Page_File_Ids__c in Docgen_User permissionset
  force-app/main/default/permissionsets/Docgen_User.permissionset-meta.xml
  sfdx-project.json
Due: salesforce

feat: enhance DocgenStatusController to rank composite and standalone request sources, update tests and UI accordingly
  force-app/main/default/classes/DocgenStatusController.cls
  force-app/main/default/classes/DocgenStatusControllerTest.cls
  force-app/main/default/lwc/docgenStatus/__tests__/docgenStatus.test.js
  force-app/main/default/lwc/docgenStatus/docgenStatus.html
  force-app/main/default/lwc/docgenStatus/docgenStatus.js
  force-app/main/default/staticresources/DocgenProdJwtCertificate.resource
  force-app/main/default/staticresources/DocgenProdJwtCertificate.resource-meta.xml
  sfdx-project.json
Due: salesforce

feat: update deployment workflow to compile Azure CLI parameters to JSON for improved parameter handling
  .github/workflows/deploy-production.yml
Due: none

feat: update Docgen_User permissionset and increment version to 0.3.55
  force-app/main/default/permissionsets/Docgen_User.permissionset-meta.xml
  sfdx-project.json
Due: salesforce

feat: update permission sets to assign Docgen_Admin permissions and modify test cases accordingly; increment version to 0.3.56
  force-app/main/default/classes/DocgenTemplateFileControllerTest.cls
  force-app/main/default/classes/GeneratedDocumentRecordControllerTest.cls
  force-app/main/default/permissionsets/Docgen_Admin.permissionset-meta.xml
  force-app/main/default/permissionsets/Docgen_User.permissionset-meta.xml
  sfdx-project.json
Due: salesforce

feat: enhance CompositeDocgenDataProvider to cache formula source records and add tests for shared source queries; increment version to 0.3.57
  force-app/main/default/classes/CompositeDocgenDataProvider.cls
  force-app/main/default/classes/CompositeDocgenDataProviderTest.cls
  force-app/main/default/classes/MutatingFormulaSourceProvider.cls
  force-app/main/default/classes/MutatingFormulaSourceProvider.cls-meta.xml
  sfdx-project.json
Due: salesforce

feat: support DOCX attachments in Docgen service and related components
  README.md
  docs/api.md
  docs/lwc-composite-button-guide.md
  docs/lwc-document-selector-guide.md
  force-app/main/default/classes/DocgenAdditionalPdfEnvelopeTest.cls
  force-app/main/default/classes/DocgenAttachmentService.cls
  force-app/main/default/classes/DocgenAttachmentServiceTest.cls
  force-app/main/default/lwc/compositeDocgenButton/compositeDocgenButton.js
  force-app/main/default/lwc/compositeDocgenButton/compositeDocgenButton.js-meta.xml
  force-app/main/default/lwc/docgenAdditionalPdfSelector/__tests__/docgenAdditionalPdfSelector.test.js
  force-app/main/default/lwc/docgenAdditionalPdfSelector/docgenAdditionalPdfSelector.html
  force-app/main/default/lwc/docgenAdditionalPdfSelector/docgenAdditionalPdfSelector.js
  force-app/main/default/lwc/docgenButton/docgenButton.js
  force-app/main/default/lwc/docgenDocumentSelector/docgenDocumentSelector.js
  force-app/main/default/lwc/docgenDocumentSelector/docgenDocumentSelector.js-meta.xml
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.js
  force-app/main/default/lwc/docgenProgressButton/docgenProgressButton.js-meta.xml
  force-app/main/default/lwc/docgenStatus/docgenStatus.js
  openapi.yaml
  sfdx-project.json
  src/pdf/attachments.ts
  src/routes/generate.ts
  src/types.ts
  src/worker/poller.ts
  test/generate.unit.test.ts
  test/pdf.attachments.test.ts
  test/worker/poller.test.ts
Due: nodejs, salesforce

Path conditions:
  nodejs: any of: src/, but not: test/, **/*.test.ts, **/*Test.cls
  salesforce: any of: force-app/, but not: test/, **/*.test.ts, **/*Test.cls
