Repository processity/docgen: changes, and which Codecov flags are due for each by the changed paths.
All: nodejs, salesforce

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false

flags:
  nodejs:
    paths:
      - src/
    carryforward: true
  salesforce:
    paths:
      - force-app/
    carryforward: true

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "test/"
  - "**/*.test.ts"
  - "**/*Test.cls"

feat: Introduce Composite Document Template Management
  docs/composite-document-template-management.md
  force-app/main/default/applications/Docgen.app-meta.xml
  force-app/main/default/classes/CompositeDocumentController.cls
  force-app/main/default/classes/CompositeDocumentController.cls-meta.xml
  force-app/main/default/classes/CompositeDocumentControllerTest.cls
  force-app/main/default/classes/CompositeDocumentControllerTest.cls-meta.xml
  force-app/main/default/classes/CompositeDocumentTest.cls
  force-app/main/default/flexipages/Composite_Document_Record_Page.flexipage-meta.xml
  force-app/main/default/layouts/Composite_Document__c-Composite Document Layout.layout-meta.xml
  force-app/main/default/lwc/addTemplateToComposite/addTemplateToComposite.html
  force-app/main/default/lwc/addTemplateToComposite/addTemplateToComposite.js
  force-app/main/default/lwc/addTemplateToComposite/addTemplateToComposite.js-meta.xml
  force-app/main/default/objects/Composite_Document__c/listViews/Active_Composite_Documents.listView-meta.xml
  force-app/main/default/objects/Composite_Document__c/listViews/All_Composite_Documents.listView-meta.xml
  force-app/main/default/objects/Composite_Document__c/listViews/Recently_Viewed_Composite_Documents.listView-meta.xml
  force-app/main/default/permissionsets/Docgen_User.permissionset-meta.xml
  force-app/main/default/quickActions/Composite_Document__c.Add_Template.quickAction-meta.xml
  force-app/main/default/tabs/Composite_Document__c.tab-meta.xml
Due: salesforce

feat: Implement Composite Document Generation with New Template Strategies
  docs/composite-documents-playbook.md
  e2e/fixtures/account-basics-section.docx
  e2e/fixtures/cases-section.docx
  e2e/fixtures/composite-account-summary.docx
  e2e/fixtures/contacts-section.docx
  e2e/fixtures/opportunities-section.docx
  e2e/helpers/create-composite-templates.ts
  e2e/tests/composite-document-generation.spec.ts
  e2e/utils/batch-helper.ts
  e2e/utils/worker-helper.ts
  force-app/main/default/classes/CompositeDocgenDataProvider.cls
  force-app/main/default/classes/DocgenController.cls
  force-app/main/default/classes/StandardSOQLProvider.cls
  force-app/main/default/objects/Docgen_Template__c/fields/ReturnMultipleRecords__c.field-meta.xml
  force-app/main/default/permissionsets/Docgen_User.permissionset-meta.xml
Due: salesforce

feat: Add ReturnMultipleRecords field to Docgen Template configurations
  force-app/main/default/classes/CompositeDocgenDataProviderTest.cls
  force-app/main/default/classes/DocgenEnvelopeServiceTest.cls
Due: none

feat: Add ReturnMultipleRecords field to Docgen Template tests
  force-app/main/default/classes/CompositeDocumentControllerTest.cls
  force-app/main/default/classes/DocgenStatusControllerTest.cls
  force-app/main/default/classes/GeneratedDocumentTest.cls
Due: none

feat: Add ReturnMultipleRecords field to BatchDocgenEnqueue and related tests
  force-app/main/default/classes/BatchDocgenEnqueue.cls
  force-app/main/default/classes/BatchDocgenEnqueueTest.cls
  force-app/main/default/classes/CompositeDocgenDataProviderTest.cls
  force-app/main/default/classes/DocgenControllerTest.cls
  force-app/main/default/classes/DocgenEnvelopeService.cls
Due: salesforce

refactor: Update JSON serialization in DocgenController and DocgenEnvelopeService
  force-app/main/default/classes/DocgenController.cls
  force-app/main/default/classes/DocgenEnvelopeService.cls
Due: salesforce

feat: Implement comprehensive support for Composite Documents, enabling multi-source document generation
  README.md
  development-tasks.md
  docs/admin-guide.md
  docs/api.md
  docs/architecture.md
  docs/composite-batch-examples.md
  docs/composite-document-template-management.md
  docs/composite-documents-playbook.md
  docs/field-path-conventions.md
  docs/idempotency.md
  docs/lwc-composite-button-guide.md
  docs/quick-start.md
  docs/template-authoring.md
Due: none

docs: Revise template authoring guide to emphasize JavaScript usage and best practices
  docs/template-authoring.md
Due: none

docs: Update README to reflect team change from Docgen to Processity
  README.md
Due: none

feat: Update DocgenController to return Lightning view URLs for ContentDocuments
  force-app/main/default/classes/DocgenController.cls
  force-app/main/default/classes/DocgenControllerTest.cls
Due: salesforce

feat: Implement ContentDocumentLink management for Generated Documents
  force-app/main/default/classes/ContentDocumentLinkHelper.cls
  force-app/main/default/classes/ContentDocumentLinkHelper.cls-meta.xml
  force-app/main/default/classes/ContentDocumentLinkHelperTest.cls
  force-app/main/default/classes/ContentDocumentLinkHelperTest.cls-meta.xml
  force-app/main/default/classes/DocgenTemplateFileController.cls
  force-app/main/default/classes/GeneratedDocumentTriggerHandler.cls
  force-app/main/default/classes/GeneratedDocumentTriggerHandler.cls-meta.xml
  force-app/main/default/classes/GeneratedDocumentTriggerHandlerTest.cls
  force-app/main/default/classes/GeneratedDocumentTriggerHandlerTest.cls-meta.xml
  force-app/main/default/lwc/docgenTemplateFileManager/docgenTemplateFileManager.js
  force-app/main/default/triggers/GeneratedDocumentTrigger.trigger
  force-app/main/default/triggers/GeneratedDocumentTrigger.trigger-meta.xml
  src/sf/files.ts
  src/sf/index.ts
  src/worker/poller.ts
  test/sf.files.test.ts
Due: nodejs, salesforce

feat: Add script and documentation for repointing staging to new Salesforce org
  scripts/REPOINTING-STAGING.md
  scripts/repoint-staging-to-salesforce.sh
Due: none

refactor: Update ContentDocumentLink tests to improve link verification
  force-app/main/default/classes/ContentDocumentLinkHelperTest.cls
  force-app/main/default/classes/GeneratedDocumentTriggerHandlerTest.cls
Due: none

refactor: Update integration and unit tests for ContentDocumentLink handling
  test/generate.integration.test.ts
  test/generate.unit.test.ts
Due: none

feat: Enhance DocgenTemplateFileController and add comprehensive test coverage
  force-app/main/default/classes/DocgenTemplateFileController.cls
  force-app/main/default/classes/DocgenTemplateFileControllerTest.cls
  force-app/main/default/classes/DocgenTemplateFileControllerTest.cls-meta.xml
  force-app/main/default/flexipages/Composite_Document_Record_Page.flexipage-meta.xml
  force-app/main/default/lwc/docgenTemplateFileManager/docgenTemplateFileManager.html
  force-app/main/default/lwc/docgenTemplateFileManager/docgenTemplateFileManager.js
  force-app/main/default/lwc/docgenTemplateFileManager/docgenTemplateFileManager.js-meta.xml
Due: salesforce

refactor: Enhance ContentDocumentLinkHelper for ID validation and logging
  force-app/main/default/classes/ContentDocumentLinkHelper.cls
  force-app/main/default/classes/ContentDocumentLinkHelperTest.cls
Due: salesforce

fix: Handle invalid ContentVersion IDs gracefully in ContentDocumentLinkHelper
  force-app/main/default/classes/ContentDocumentLinkHelper.cls
Due: salesforce

feat: Add JWT Bearer Connected App and update configuration scripts
  .gitignore
  force-app/main/default/connectedApps/Docgen_JWT_Bearer.connectedApp-meta.xml
  force-app/main/default/externalClientApps/Docgen_JWT_Bearer.eca-meta.xml
  force-app/main/default/extlClntAppOauthSettings/Docgen_JWT_Bearer_defOauthSet.ecaOauth-meta.xml
  scripts/configure-external-credential.sh
  scripts/repoint-staging-to-salesforce.sh
Due: salesforce

refactor: Update ConfigureExternalCredential.apex for improved documentation and flexibility
  scripts/ConfigureExternalCredential.apex
Due: none

chore: Remove Docgen JWT Bearer metadata files
  force-app/main/default/externalClientApps/Docgen_JWT_Bearer.eca-meta.xml
  force-app/main/default/extlClntAppOauthSettings/Docgen_JWT_Bearer_defOauthSet.ecaOauth-meta.xml
Due: salesforce

fix: Update E2E workflow to use parameterized external credential script
  .github/workflows/e2e-tests.yml
Due: none

fix: Use correct org alias in E2E workflow for external credential configuration
  .github/workflows/e2e-tests.yml
Due: none

fix: Update Salesforce authentication to support sandbox environments
  src/sf/auth.ts
Due: nodejs

refactor: Enhance StandardSOQLProvider to handle subquery relationships
  force-app/main/default/classes/StandardSOQLProvider.cls
  force-app/main/default/classes/StandardSOQLProviderTest.cls
Due: salesforce

refactor: Implement comprehensive error handling with custom error classes
  package.json
  src/convert/soffice.ts
  src/errors/base.ts
  src/errors/classes.ts
  src/errors/codes.ts
  src/errors/handler.ts
  src/errors/index.ts
  src/errors/types.ts
  src/routes/generate.ts
  src/server.ts
  src/sf/api.ts
  src/sf/files.ts
  src/templates/merge.ts
  src/templates/service.ts
  src/worker/poller.ts
  test/auth.test.ts
  test/correlation-id.test.ts
  test/generate.integration.test.ts
  test/generate.unit.test.ts
  test/health.test.ts
  test/templates/service.test.ts
  test/worker/poller.integration.test.ts
  test/worker/poller.test.ts
Due: nodejs

fix: Improve error handling with GenerateResult wrapper to prevent DML rollback
  force-app/main/default/classes/DocgenController.cls
  force-app/main/default/lwc/docgenButton/docgenButton.js
Due: salesforce

test: Update tests to handle GenerateResult return type
  force-app/main/default/classes/DocgenControllerTest.cls
  force-app/main/default/classes/DocgenMultiObjectIntegrationTest.cls
Due: none

refactor: Enhance StandardSOQLProvider to handle nested child relationships
  force-app/main/default/classes/StandardSOQLProvider.cls
  force-app/main/default/classes/StandardSOQLProviderTest.cls
Due: salesforce

refactor: Enhance StandardSOQLProvider to support nested subquery relationships
  force-app/main/default/classes/StandardSOQLProvider.cls
  force-app/main/default/classes/StandardSOQLProviderTest.cls
Due: salesforce

fix: Improve error handling with GenerateResult wrapper (#24)
  force-app/main/default/classes/DocgenController.cls
  force-app/main/default/classes/DocgenControllerTest.cls
  force-app/main/default/classes/DocgenMultiObjectIntegrationTest.cls
  force-app/main/default/classes/StandardSOQLProvider.cls
  force-app/main/default/classes/StandardSOQLProviderTest.cls
  force-app/main/default/lwc/docgenButton/docgenButton.js
Due: salesforce

feat: Refactor test data creation across multiple test classes using DocgenTestDataFactory.
  force-app/main/default/classes/BatchDocgenEnqueueTest.cls
  force-app/main/default/classes/CompositeDocgenDataProviderTest.cls
  force-app/main/default/classes/CompositeDocumentControllerTest.cls
  force-app/main/default/classes/ContentDocumentLinkHelperTest.cls
  force-app/main/default/classes/DocgenControllerTest.cls
  force-app/main/default/classes/DocgenEnvelopeServiceTest.cls
  force-app/main/default/classes/DocgenStatusControllerTest.cls
  force-app/main/default/classes/DocgenTemplateFileControllerTest.cls
  force-app/main/default/classes/DocgenTestDataFactory.cls
  force-app/main/default/classes/GeneratedDocumentTest.cls
  force-app/main/default/classes/GeneratedDocumentTriggerHandlerTest.cls
  force-app/main/default/classes/StandardSOQLProviderTest.cls
Due: salesforce

Update tests
  force-app/main/default/classes/CompositeDocgenDataProviderTest.cls
  force-app/main/default/classes/DocgenTestDataFactory.cls
  force-app/main/default/classes/StandardSOQLProviderTest.cls
Due: salesforce

Refactor test data creation across multiple test classes using DocgenTestDataFactory (#25)
  force-app/main/default/classes/BatchDocgenEnqueueTest.cls
  force-app/main/default/classes/CompositeDocgenDataProviderTest.cls
  force-app/main/default/classes/CompositeDocumentControllerTest.cls
  force-app/main/default/classes/ContentDocumentLinkHelperTest.cls
  force-app/main/default/classes/DocgenControllerTest.cls
  force-app/main/default/classes/DocgenEnvelopeServiceTest.cls
  force-app/main/default/classes/DocgenStatusControllerTest.cls
  force-app/main/default/classes/DocgenTemplateFileControllerTest.cls
  force-app/main/default/classes/DocgenTestDataFactory.cls
  force-app/main/default/classes/GeneratedDocumentTest.cls
  force-app/main/default/classes/GeneratedDocumentTriggerHandlerTest.cls
  force-app/main/default/classes/StandardSOQLProviderTest.cls
Due: salesforce

feature/unlocked-package-and-setup
  README.md
  force-app/main/default/classes/DocgenObjectConfigService.cls
  force-app/main/default/classes/DocgenTestDataFactory.cls
  force-app/test/default/classes/SupportedObjectConfigTest.cls
  force-app/test/default/classes/SupportedObjectConfigTest.cls-meta.xml
  force-app/unpackaged/default/connectedApps/Docgen_JWT_Bearer.connectedApp-meta.xml
  force-app/unpackaged/default/customMetadata/Supported_Object__mdt.Account.md-meta.xml
  force-app/unpackaged/default/customMetadata/Supported_Object__mdt.Case.md-meta.xml
  force-app/unpackaged/default/customMetadata/Supported_Object__mdt.Contact.md-meta.xml
  force-app/unpackaged/default/customMetadata/Supported_Object__mdt.Lead.md-meta.xml
  force-app/unpackaged/default/customMetadata/Supported_Object__mdt.Opportunity.md-meta.xml
  sfdx-project.json
Due: salesforce

Add package owner detail
  README.md
Due: none

merged test folder into the unlocked package
  README.md
  docs/e2e-test-status.md
  docs/e2e-testing.md
  docs/scripts.md
  e2e/README.md
  e2e/fixtures/salesforce.fixture.ts
  e2e/pages/AccountRecordPage.ts
  force-app/main/default/classes/DocgenTestPageControllerTest.cls
  force-app/main/default/classes/DocgenTestPageControllerTest.cls-meta.xml
  force-app/main/default/classes/SupportedObjectConfigTest.cls
  force-app/main/default/classes/SupportedObjectConfigTest.cls-meta.xml
  force-app/test/default/classes/SupportedObjectConfigTest.cls
  force-app/test/default/duplicateRules/Account.Standard_Account_Duplicate_Rule.duplicateRule-meta.xml
  force-app/test/default/duplicateRules/Contact.Standard_Contact_Duplicate_Rule.duplicateRule-meta.xml
  force-app/test/default/duplicateRules/Contact.Standard_Rule_for_Contacts_with_Duplicate_Leads.duplicateRule-meta.xml
  force-app/test/default/duplicateRules/Lead.Standard_Lead_Duplicate_Rule.duplicateRule-meta.xml
  force-app/test/default/duplicateRules/Lead.Standard_Rule_for_Leads_with_Duplicate_Contacts.duplicateRule-meta.xml
  force-app/test/default/flexipages/Account_Docgen_Test.flexipage-meta.xml
  force-app/test/default/flexipages/Account_Docgen_Test.flexipage-meta.xml.backup
  force-app/test/default/lwc/jsconfig.json
  scripts/run-e2e-with-real-backend.sh
  scripts/setup-scratch-org.sh
  sfdx-project.json
Due: salesforce

std duplicate rule disable step
  .github/workflows/e2e-tests.yml
Due: none

Disable duplicate rules in scratch org in E2E tests
  .github/workflows/e2e-tests.yml
Due: none
