Repository processity/docgen: changes, and which Codecov flags are due for each by the changed paths.
All: nodejs, salesforce

chore: update e2e test commands to disable test mode
  e2e/tests/docgen-button.spec.ts
  package.json
Due: none

fix: configure CI environment for e2e backend deployment
  .github/workflows/deploy-ci-backend.yml
  scripts/copy-sf-secrets-to-ci.sh
  scripts/setup-ci-secrets.sh
Due: none

refactor: update Salesforce metadata deployment in e2e workflow
  .github/workflows/e2e-tests.yml
Due: none

Update e2e test templates and refine multi-object test assertions
  e2e/fixtures/test-template-contact.docx
  e2e/fixtures/test-template-lead.docx
  e2e/tests/multi-object.spec.ts
Due: none

Add concurrency settings to e2e test workflow
  .github/workflows/e2e-tests.yml
Due: none

Enhance e2e test workflow with container restart delay
  .github/workflows/e2e-tests.yml
Due: none

Increase global timeout for e2e tests to accommodate slower document generation in CI environments
  e2e/playwright.config.ts
Due: none

docs: Reorganize documentation structure and fix broken links (#18)
  README.md
  docs/admin-guide.md
  docs/admin-runbook.md
  docs/api.md
  docs/architecture.md
  docs/deploy.md
  docs/object-configurability-playbook.md
  docs/provisioning-checklist.md
  docs/provisioning.md
  docs/quick-start.md
  docs/runbooks.md
  docs/testing.md
  docs/troubleshooting-index.md
  test/docs.test.ts
Due: none

feat: Implement worker control utilities and E2E tests for Docgen Status
  e2e/README.md
  e2e/tests/status-page.spec.ts
  e2e/utils/worker-control.ts
  force-app/main/default/applications/Docgen.app-meta.xml
  force-app/main/default/classes/DocgenStatusController.cls
  force-app/main/default/classes/DocgenStatusController.cls-meta.xml
  force-app/main/default/classes/DocgenStatusControllerTest.cls
  force-app/main/default/classes/DocgenStatusControllerTest.cls-meta.xml
  force-app/main/default/flexipages/Docgen_Status.flexipage-meta.xml
  force-app/main/default/lwc/docgenStatus/docgenStatus.css
  force-app/main/default/lwc/docgenStatus/docgenStatus.html
  force-app/main/default/lwc/docgenStatus/docgenStatus.js
  force-app/main/default/lwc/docgenStatus/docgenStatus.js-meta.xml
  force-app/main/default/permissionsets/Docgen_User.permissionset-meta.xml
  force-app/main/default/tabs/Docgen_Status.tab-meta.xml
  scripts/CheckWorkerStatus.apex
  scripts/README.md
  scripts/StartWorker.apex
  scripts/StopWorker.apex
Due: salesforce

refactor: Remove unused mock class and test for API failure in DocgenStatusControllerTest
  force-app/main/default/classes/DocgenStatusControllerTest.cls
Due: none

feat: Implement worker control utilities and E2E tests for Docgen Status (#19)
  e2e/README.md
  e2e/tests/status-page.spec.ts
  e2e/utils/worker-control.ts
  force-app/main/default/applications/Docgen.app-meta.xml
  force-app/main/default/classes/DocgenStatusController.cls
  force-app/main/default/classes/DocgenStatusController.cls-meta.xml
  force-app/main/default/classes/DocgenStatusControllerTest.cls
  force-app/main/default/classes/DocgenStatusControllerTest.cls-meta.xml
  force-app/main/default/flexipages/Docgen_Status.flexipage-meta.xml
  force-app/main/default/lwc/docgenStatus/docgenStatus.css
  force-app/main/default/lwc/docgenStatus/docgenStatus.html
  force-app/main/default/lwc/docgenStatus/docgenStatus.js
  force-app/main/default/lwc/docgenStatus/docgenStatus.js-meta.xml
  force-app/main/default/permissionsets/Docgen_User.permissionset-meta.xml
  force-app/main/default/tabs/Docgen_Status.tab-meta.xml
  scripts/CheckWorkerStatus.apex
  scripts/README.md
  scripts/StartWorker.apex
  scripts/StopWorker.apex
Due: salesforce

feat: Enhance Salesforce authentication setup and testing framework
  .env.example
  .github/workflows/ci.yml
  docs/testing.md
  scripts/setup-scratch-org.sh
  test/correlation-id.test.ts
  test/generate.integration.test.ts
  test/generate.unit.test.ts
  test/routes/worker.test.ts
  test/samples.test.ts
  test/worker/poller.integration.test.ts
  test/worker/poller.test.ts
Due: none

feat: Convert worker poller to always-on architecture
  .github/workflows/ci.yml
  docs/adr/0003-worker.md
  docs/architecture.md
  docs/poller.md
  e2e/tests/batch-enqueue.spec.ts
  e2e/tests/status-page.spec.ts
  e2e/tests/worker-poller.spec.ts
  e2e/utils/worker-control.ts
  e2e/utils/worker-helper.ts
  force-app/main/default/classes/DocgenStatusController.cls
  force-app/main/default/classes/DocgenStatusControllerTest.cls
  force-app/main/default/lwc/docgenStatus/docgenStatus.html
  force-app/main/default/lwc/docgenStatus/docgenStatus.js
  infra/modules/app.bicep
  scripts/StartWorker.apex
  scripts/StopWorker.apex
  src/config/index.ts
  src/routes/worker.ts
  src/server.ts
  src/types.ts
  test/routes/worker.test.ts
  test/worker/poller.test.ts
Due: nodejs, salesforce

feat: Enhance documentation and setup scripts for Azure AD integration
  .claude/agents/e2e-test-runner.md
  README.md
  docs/quick-start.md
  docs/scripts.md
  e2e/playwright.config.ts
  e2e/tests/batch-enqueue.spec.ts
  e2e/tests/multi-object.spec.ts
  e2e/tests/worker-poller.spec.ts
  e2e/utils/batch-helper.ts
  e2e/utils/scratch-org.ts
  e2e/utils/worker-control.ts
  e2e/utils/worker-helper.ts
  force-app/main/default/classes/DocgenStatusController.cls
  force-app/main/default/classes/DocgenStatusControllerTest.cls
  force-app/main/default/externalCredentials/Docgen_AAD_Credential_CI.externalCredential-meta.xml
  force-app/main/default/namedCredentials/Docgen_Node_API_CI.namedCredential-meta.xml
  infra/main.bicep
  infra/main.json
  infra/modules/app.bicep
  infra/parameters/ci.bicepparam
  scripts/ConfigureCustomSettings.apex
  scripts/ConfigureNamedCredential.apex
  scripts/StartWorker.apex
  scripts/TestNamedCredentialCallout.apex
  scripts/VerifyCredentialStatus.apex
  scripts/configure-external-credential.sh
  scripts/configure-named-credential.sh
  scripts/setup-scratch-org.sh
  src/auth/aad.ts
  src/convert/soffice.ts
  src/sf/api.ts
Due: nodejs, salesforce

test: Fix unit tests for always-on poller architecture
  test/config.test.ts
  test/routes/worker.test.ts
Due: none

test: Use Jest's describe.skip for proper test skipping
  test/routes/worker.test.ts
Due: none

ci: Fix E2E workflow by creating scratch org before backend deployment
  .github/workflows/deploy-ci-backend.yml
  .github/workflows/e2e-tests.yml
Due: none

ci: Use artifacts to pass SFDX Auth URL between jobs
  .github/workflows/e2e-tests.yml
Due: none

ci: Remove artifact-based SFDX Auth URL passing for security
  .github/workflows/e2e-tests.yml
Due: none

ci: Update Docker image naming in E2E workflow
  .github/workflows/e2e-tests.yml
Due: none

feat: Add complex Account Summary E2E test and template
  e2e/fixtures/account-summary-template.docx
  e2e/tests/account-summary-complex.spec.ts
  force-app/main/default/classes/BatchDocgenEnqueue.cls-meta.xml
  force-app/main/default/classes/BatchDocgenEnqueueTest.cls-meta.xml
  force-app/main/default/classes/DocgenController.cls-meta.xml
  force-app/main/default/classes/DocgenControllerTest.cls-meta.xml
  force-app/main/default/classes/DocgenDataProvider.cls-meta.xml
  force-app/main/default/classes/DocgenEnvelopeService.cls-meta.xml
  force-app/main/default/classes/DocgenEnvelopeServiceTest.cls-meta.xml
  force-app/main/default/classes/DocgenMultiObjectIntegrationTest.cls-meta.xml
  force-app/main/default/classes/DocgenObjectConfigService.cls-meta.xml
  force-app/main/default/classes/DocgenObjectConfigServiceTest.cls-meta.xml
  force-app/main/default/classes/DocgenStatusController.cls-meta.xml
  force-app/main/default/classes/DocgenStatusControllerTest.cls-meta.xml
  force-app/main/default/classes/DocgenTemplateFileController.cls-meta.xml
  force-app/main/default/classes/DocgenTemplateTest.cls-meta.xml
  force-app/main/default/classes/DocgenTestDataFactory.cls-meta.xml
  force-app/main/default/classes/DocgenTestPageController.cls-meta.xml
  force-app/main/default/classes/FailingCustomProvider.cls-meta.xml
  force-app/main/default/classes/GeneratedDocumentTest.cls-meta.xml
  force-app/main/default/classes/MockCustomProvider.cls-meta.xml
  force-app/main/default/classes/StandardSOQLProvider.cls-meta.xml
  force-app/main/default/classes/StandardSOQLProviderTest.cls-meta.xml
  force-app/main/default/classes/SupportedObjectConfigTest.cls-meta.xml
  force-app/main/default/flexipages/Docgen_Template_Record_Page.flexipage-meta.xml
  force-app/main/default/objects/Docgen_Template__c/listViews/All_Templates.listView-meta.xml
  force-app/main/default/objects/Generated_Document__c/listViews/All_Generated_Documents.listView-meta.xml
  force-app/test/default/classes/DocgenTestPageControllerTest.cls-meta.xml
Due: salesforce

feat: Update template authoring documentation and add Account Summary template guide
  docs/examples/account-summary-template-guide.md
  docs/template-authoring.md
  e2e/fixtures/account-summary-template.docx
Due: none

feat: Add complex Account Summary E2E test and template (#21)
  docs/examples/account-summary-template-guide.md
  docs/template-authoring.md
  e2e/fixtures/account-summary-template.docx
  e2e/tests/account-summary-complex.spec.ts
  force-app/main/default/classes/BatchDocgenEnqueue.cls-meta.xml
  force-app/main/default/classes/BatchDocgenEnqueueTest.cls-meta.xml
  force-app/main/default/classes/DocgenController.cls-meta.xml
  force-app/main/default/classes/DocgenControllerTest.cls-meta.xml
  force-app/main/default/classes/DocgenDataProvider.cls-meta.xml
  force-app/main/default/classes/DocgenEnvelopeService.cls-meta.xml
  force-app/main/default/classes/DocgenEnvelopeServiceTest.cls-meta.xml
  force-app/main/default/classes/DocgenMultiObjectIntegrationTest.cls-meta.xml
  force-app/main/default/classes/DocgenObjectConfigService.cls-meta.xml
  force-app/main/default/classes/DocgenObjectConfigServiceTest.cls-meta.xml
  force-app/main/default/classes/DocgenStatusController.cls-meta.xml
  force-app/main/default/classes/DocgenStatusControllerTest.cls-meta.xml
  force-app/main/default/classes/DocgenTemplateFileController.cls-meta.xml
  force-app/main/default/classes/DocgenTemplateTest.cls-meta.xml
  force-app/main/default/classes/DocgenTestDataFactory.cls-meta.xml
  force-app/main/default/classes/DocgenTestPageController.cls-meta.xml
  force-app/main/default/classes/FailingCustomProvider.cls-meta.xml
  force-app/main/default/classes/GeneratedDocumentTest.cls-meta.xml
  force-app/main/default/classes/MockCustomProvider.cls-meta.xml
  force-app/main/default/classes/StandardSOQLProvider.cls-meta.xml
  force-app/main/default/classes/StandardSOQLProviderTest.cls-meta.xml
  force-app/main/default/classes/SupportedObjectConfigTest.cls-meta.xml
  force-app/main/default/flexipages/Docgen_Template_Record_Page.flexipage-meta.xml
  force-app/main/default/objects/Docgen_Template__c/listViews/All_Templates.listView-meta.xml
  force-app/main/default/objects/Generated_Document__c/listViews/All_Generated_Documents.listView-meta.xml
  force-app/test/default/classes/DocgenTestPageControllerTest.cls-meta.xml
Due: salesforce

feat: Add Composite Document schema for multi-source documents (#T-18)
  development-tasks.md
  docs/composite-documents-playbook.md
  force-app/main/default/classes/CompositeDocumentTemplateTest.cls
  force-app/main/default/classes/CompositeDocumentTemplateTest.cls-meta.xml
  force-app/main/default/classes/CompositeDocumentTest.cls
  force-app/main/default/classes/CompositeDocumentTest.cls-meta.xml
  force-app/main/default/objects/Composite_Document_Template__c/Composite_Document_Template__c.object-meta.xml
  force-app/main/default/objects/Composite_Document_Template__c/compactLayouts/Primary_Compact_Layout.compactLayout-meta.xml
  force-app/main/default/objects/Composite_Document_Template__c/fields/Composite_Document__c.field-meta.xml
  force-app/main/default/objects/Composite_Document_Template__c/fields/Document_Template__c.field-meta.xml
  force-app/main/default/objects/Composite_Document_Template__c/fields/IsActive__c.field-meta.xml
  force-app/main/default/objects/Composite_Document_Template__c/fields/Namespace__c.field-meta.xml
  force-app/main/default/objects/Composite_Document_Template__c/fields/Sequence__c.field-meta.xml
  force-app/main/default/objects/Composite_Document_Template__c/fields/Unique_Key__c.field-meta.xml
  force-app/main/default/objects/Composite_Document__c/Composite_Document__c.object-meta.xml
  force-app/main/default/objects/Composite_Document__c/compactLayouts/Primary_Compact_Layout.compactLayout-meta.xml
  force-app/main/default/objects/Composite_Document__c/fields/Description__c.field-meta.xml
  force-app/main/default/objects/Composite_Document__c/fields/IsActive__c.field-meta.xml
  force-app/main/default/objects/Composite_Document__c/fields/PrimaryParent__c.field-meta.xml
  force-app/main/default/objects/Composite_Document__c/fields/ReturnDocxToBrowser__c.field-meta.xml
  force-app/main/default/objects/Composite_Document__c/fields/StoreMergedDocx__c.field-meta.xml
  force-app/main/default/objects/Composite_Document__c/fields/TemplateContentVersionId__c.field-meta.xml
  force-app/main/default/objects/Composite_Document__c/fields/Template_Strategy__c.field-meta.xml
  force-app/main/default/objects/Composite_Document__c/validationRules/Template_Forbidden_For_Concatenate.validationRule-meta.xml
  force-app/main/default/objects/Composite_Document__c/validationRules/Template_Required_For_Own_Strategy.validationRule-meta.xml
  force-app/main/default/objects/Generated_Document__c/fields/Composite_Document__c.field-meta.xml
  force-app/main/default/objects/Generated_Document__c/validationRules/Require_Template_Or_Composite.validationRule-meta.xml
  force-app/main/default/permissionsets/Docgen_User.permissionset-meta.xml
Due: salesforce

fix: Deactivate Require_Template_Or_Composite validation rule for Generated_Document__c
  force-app/main/default/objects/Generated_Document__c/validationRules/Require_Template_Or_Composite.validationRule-meta.xml
Due: salesforce

feat: Add CompositeDocgenDataProvider for multi-source documents (#T-19)
  docs/composite-documents-playbook.md
  force-app/main/default/classes/CompositeDocgenDataProvider.cls
  force-app/main/default/classes/CompositeDocgenDataProvider.cls-meta.xml
  force-app/main/default/classes/CompositeDocgenDataProviderTest.cls
  force-app/main/default/classes/CompositeDocgenDataProviderTest.cls-meta.xml
  force-app/main/default/classes/CompositeDocgenException.cls
  force-app/main/default/classes/CompositeDocgenException.cls-meta.xml
Due: salesforce

fix: Correct variable key formatting in CompositeDocgenDataProvider
  force-app/main/default/classes/CompositeDocgenDataProvider.cls
Due: salesforce

feat: Enhance Composite Document Generation with New Features
  docs/composite-documents-playbook.md
  force-app/main/default/classes/DocgenEnvelopeService.cls
  force-app/main/default/classes/DocgenEnvelopeServiceTest.cls
Due: salesforce

feat: Implement Composite Document Generation in DocgenController
  force-app/main/default/classes/DocgenController.cls
  force-app/main/default/classes/DocgenControllerTest.cls
  force-app/main/default/classes/DocgenTestDataFactory.cls
Due: salesforce

feat: Enhance GeneratedDocumentTest with Template Creation
  force-app/main/default/classes/GeneratedDocumentTest.cls
Due: none

feat: Add comprehensive examples for Composite Document Batch Processing
  docs/composite-batch-examples.md
  docs/composite-documents-playbook.md
  force-app/main/default/classes/BatchDocgenEnqueue.cls
  force-app/main/default/classes/BatchDocgenEnqueueTest.cls
Due: salesforce

feat: Update validation rules and implement DOCX concatenation service
  force-app/main/default/objects/Composite_Document__c/validationRules/Template_Forbidden_For_Concatenate.validationRule-meta.xml
  force-app/main/default/objects/Composite_Document__c/validationRules/Template_Required_For_Own_Strategy.validationRule-meta.xml
  src/templates/concatenate.ts
  src/templates/index.ts
  src/types.ts
  test/helpers/test-docx.ts
  test/templates/concatenate.test.ts
Due: nodejs, salesforce

feat: Enhance Poller Integration Tests with Template Management
  test/worker/poller.integration.test.ts
Due: none

feat: Update validation rules and enhance Composite Document functionality
  docs/composite-documents-playbook.md
  force-app/main/default/classes/CompositeDocumentTest.cls
  force-app/main/default/objects/Composite_Document__c/validationRules/Template_Forbidden_For_Concatenate.validationRule-meta.xml
  force-app/main/default/objects/Composite_Document__c/validationRules/Template_Required_For_Own_Strategy.validationRule-meta.xml
  test/generate.unit.test.ts
Due: salesforce

feat: Implement Composite Document Generation with Enhanced Validation and Testing
  docs/composite-documents-playbook.md
  src/routes/generate.ts
  src/types.ts
  src/worker/poller.ts
  test/generate.integration.test.ts
  test/generate.unit.test.ts
Due: nodejs

feat: Implement Composite Document Processing in Poller Service
  docs/composite-documents-playbook.md
  src/types.ts
  src/worker/poller.ts
  test/worker/poller.integration.test.ts
  test/worker/poller.test.ts
Due: nodejs

feat: Implement Composite Document Generation Button with Enhanced Configuration
  docs/composite-documents-playbook.md
  docs/lwc-composite-button-guide.md
  force-app/main/default/lwc/compositeDocgenButton/__tests__/compositeDocgenButton.test.js
  force-app/main/default/lwc/compositeDocgenButton/compositeDocgenButton.html
  force-app/main/default/lwc/compositeDocgenButton/compositeDocgenButton.js
  force-app/main/default/lwc/compositeDocgenButton/compositeDocgenButton.js-meta.xml
Due: salesforce

fix: Update TypeScript types for template handling in integration tests
  test/worker/poller.integration.test.ts
Due: none

Path conditions:
  nodejs: any of: src/, but not: test/, **/*.test.ts, **/*Test.cls
  salesforce: any of: force-app/, but not: test/, **/*.test.ts, **/*Test.cls
